<template>
    <section>
        <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="logo" href="#">
                            <img :src="logo" alt="Logo" />
                        </a>

                        <a
                            role="button"
                            class="navbar-burger burger"
                            aria-label="menu"
                            aria-expanded="false"
                            data-target="navbarBasicExample"
                            @click="isOpen = !isOpen"
                            :class="{ 'is-active': isOpen }"
                        >
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div
                        id="navbarBasicExample"
                        class="navbar-menu"
                        :class="{'is-active': isOpen }"
                    >
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <button class="btn-vk">
                                        <span>
                                            <img :src="vk" alt="VK" />
                                        </span>Войти через VK
                                    </button>
                                    <button class="btn-steam">
                                        <span>
                                            <img :src="steam" alt="Steam" />
                                        </span>Steam
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="main-content">
                <p class="watermark">Easymoney games</p>

                <div class="container">
                    <h1>
                        Easymoney games
                        <small>
                            зарабатывай
                            <span class="yellow">
                                <svg width="105%" height="100%">
                                    <line
                                        x1="5px"
                                        y1="88%"
                                        x2="90%"
                                        y2="88%"
                                        stroke-width="10"
                                        stroke="gold"
                                        stroke-linecap="round"
                                    />
                                </svg>
                                <span>легко!</span>
                            </span>
                        </small>
                    </h1>
                    <div class="advantages columns is-tablet">
                        <div class="advantages__item column">
                            <div class="advantages__wrapper">
                                <div class="advantages__image">
                                    <img :src="top" alt="top-1" />
                                </div>
                            </div>
                            <div class="advantages__text">
                                <strong>ТОП-1</strong> площадка
                            </div>
                        </div>
                        <div class="advantages__item column">
                            <div class="advantages__wrapper">
                                <div class="advantages__image">
                                    <img :src="globe" alt="globe" />
                                </div>
                            </div>
                            <div class="advantages__text">Международный бренд</div>
                        </div>
                        <div class="advantages__item column">
                            <div class="advantages__wrapper">
                                <div class="advantages__image">
                                    <img :src="search" alt="search" />
                                </div>
                            </div>
                            <div class="advantages__text">
                                Прозрачная работа через
                                <strong>random.org</strong>
                            </div>
                        </div>
                        <div class="advantages__item column">
                            <div class="advantages__wrapper">
                                <div class="advantages__image">
                                    <img :src="wallet" alt="wallet" />
                                </div>
                            </div>
                            <div class="advantages__text">
                                Мгновенные выплаты
                                <strong>24/7</strong>
                            </div>
                        </div>
                    </div>
                    <div class="main-image">
                        <img :src="mainImage" alt="main-image" />
                    </div>
                </div>
            </div>
        </header>
        <div class="details">
            <div class="container is-fullhd">
                <img :src="dollars" alt="Dollars" />
                <img :src="dollars" alt="Dollars" />

                <h2>
                    Подробнее об
                    <span class="yellow">
                        <svg width="105%" height="100%">
                            <line
                                x1="5px"
                                y1="88%"
                                x2="97%"
                                y2="88%"
                                stroke-width="10"
                                stroke="gold"
                                stroke-linecap="round"
                            />
                        </svg>
                        <span>игре</span>
                    </span>
                </h2>
                <div class="details__items columns is-multiline is-desktop">
                    <div class="details__item column">
                        <h3>
                            <span>
                                <img :src="jackpotIcon" alt="Jackpot icon" />
                            </span>Jackpot game
                        </h3>
                        <figure class="image details__img">
                            <img :src="easymoneyGame" alt="Easymoney Game" />
                        </figure>
                        <div
                            class="details__text"
                        >Общий банк на всех игроков, а шанс выигрыша - пропорционален вашей ставки. Выберите свою тактику: рисковать по крупному, но выигрывать чаще, или скрывать куш мелкими ставками! Соревнуйтесь с другими игроками!</div>
                    </div>
                    <div class="details__item column">
                        <h3>
                            <span>
                                <img :src="doubleIcon" alt="Double icon" />
                            </span>Double game
                        </h3>
                        <figure class="image details__img">
                            <img :src="doubleGame" alt="Double Game" />
                        </figure>
                        <div
                            class="details__text"
                        >Игра, которая удвоит, утроит или даже увеличит ставку в 5 или в 50 раз! Выберите несколько цветов и увеличьте свои шансы на победу! Всего 4 разных цветов и 54 числа: 26 черных, 17 желтых, 10 красных и 1 зеленый.</div>
                    </div>
                </div>
                <div class="details__items columns is-multiline is-desktop">
                    <div class="details__item column">
                        <h3>
                            <span>
                                <img :src="crashIcon" alt="Crash icon" />
                            </span>Crash game
                        </h3>
                        <figure class="image details__img">
                            <img :src="crashGame" alt="Crash Game" />
                        </figure>
                        <div
                            class="details__text"
                        >Наиболее известный игрокам режим от команды профессионалов. Полностью открытый исходный код, забрать свой выигрыщ можно в каждой игре, но можно и рискнуть и забрать x10 за один раз! Продержись до конца и забери максимум!</div>
                    </div>
                    <div class="details__item column">
                        <h3>
                            <span>
                                <img :src="nvutiIcon" alt="Nvuti icon" />
                            </span>Nvuti game
                        </h3>
                        <figure class="image details__img">
                            <img :src="nvutiGame" alt="Nvuti Game" />
                        </figure>
                        <div class="details__text">
                            Вы сами выбираете шанс выигрыша и его размер: чем меньше коэффициент, тем меньше шанс забрать весь банк!
                            <br />
                            <br />Зарабатывайте собственным умом!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bonuses">
            <div class="container">
                <img :src="dollars" alt="Dollars" />

                <h2>
                    Выдаем
                    <span class="yellow">
                        <svg width="105%" height="100%">
                            <line
                                x1="5px"
                                y1="88%"
                                x2="97%"
                                y2="88%"
                                stroke-width="10"
                                stroke="gold"
                                stroke-linecap="round"
                            />
                        </svg>
                        <span>бонусы</span>
                    </span>
                    <small>каждый день!</small>
                </h2>
                <div class="bonuses__items columns is-desktop">
                    <div class="bonuses__item column">
                        <div class="bonuses__image">
                            <img :src="calendar" alt="calendar" />
                        </div>
                        <div class="bonuses__text">
                            <h4>Каждый день</h4>
                            <p>Бесплатные 15 монет всем каждый день!</p>
                        </div>
                    </div>
                    <div class="bonuses__item column">
                        <div class="bonuses__image">
                            <img :src="freeWallet" alt="Free Wallet" />
                        </div>
                        <div class="bonuses__text">
                            <h4>Каждые пять минут</h4>
                            <p>Постоянно на сайте? Забирайте бесплатные монеты каждые 5 минут</p>
                        </div>
                    </div>
                    <div class="bonuses__item column">
                        <div class="bonuses__image">
                            <img :src="bonus" alt="bonus" />
                        </div>
                        <div class="bonuses__text">
                            <h4>Большой бонус</h4>
                            <p>Оставайтесь на связи в VK и получайте большой бонус</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="referral">
            <p class="watermark">Зарабатывай</p>

            <div class="container">
                <div class="referral__image">
                    <img :src="macbook" alt="macbook" />
                </div>
                <div class="referral__wrapper">
                    <h2>
                        Зарабатывай
                        <br />
                        <span class="yellow">
                            <svg width="105%" height="100%">
                                <line
                                    x1="5px"
                                    y1="88%"
                                    x2="97%"
                                    y2="88%"
                                    stroke-width="10"
                                    stroke="gold"
                                    stroke-linecap="round"
                                />
                            </svg>
                            <span>без вложений</span>
                        </span>
                    </h2>
                    <p>У нас самая мощная реферальная программа.</p>
                    <p>
                        Вы сразу же
                        <strong>зарабатываете 1%</strong> с каждого друга и можете
                        <strong>раскачать до 2%!</strong>
                    </p>
                    <div class="percent">
                        <div class="percent__wrapper">
                            <div class="percent__item">
                                <p>Начальный уровень:</p>
                                <p>
                                    <b>1%</b>
                                    <span>ставок</span>
                                </p>
                            </div>

                            <div class="percent__item">
                                <p>от 50 рефералок</p>
                                <p>
                                    <b>1,5%</b>
                                    <span>ставок</span>
                                </p>
                            </div>
                            <div class="percent__item">
                                <p>от 100 рефералок</p>
                                <p>
                                    <b>2%</b>
                                    <span>ставок</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <p class="watermark">Easymoney games</p>
            <div class="container">
                <div class="review__wrapper">
                    <h2>
                        <span class="yellow">
                            <svg width="105%" height="100%">
                                <line
                                    x1="5px"
                                    y1="88%"
                                    x2="97%"
                                    y2="88%"
                                    stroke-width="10"
                                    stroke="gold"
                                    stroke-linecap="round"
                                />
                            </svg>
                            <span>Отзывы о нас</span>
                        </span>
                    </h2>
                    <p>Мы собираем все отзывы в нашей группе ВКонтакте - это реальные люди с реальными историями успеха!</p>
                    <p>Следите за группой, выигрывай на сайте, забирай бесплатные монеты!</p>
                    <button class="btn-vk">
                        <span>
                            <img :src="vk" alt="VK" />
                        </span>Войти через VK
                    </button>
                </div>
                <div class="review__image">
                    <img :src="tablet" alt="tablet" />
                </div>
            </div>
        </div>
        <footer>
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <a class="logo" href="#">
                            <img :src="logo" alt="Logo" />
                        </a>
                        <div class="links">
                            <router-link to="/" class="ui-link">Наши игры</router-link>
                            <router-link to="/" class="ui-link">Наши бонусы</router-link>
                            <router-link to="/" class="ui-link">Реф. программа</router-link>
                        </div>
                        <div class="socials">
                            <SvgIcon icon-name="fb" />
                            <SvgIcon icon-name="vk" />
                            <SvgIcon icon-name="tw" />
                            <SvgIcon icon-name="ok" />
                        </div>
                    </div>
                </div>
            </nav>
            <div class="info">
                <div class="container">
                    <div class="info__wrapper">
                        <div class="copyright">ООО «Изи-мани ЛТД»</div>
                        <div class="nav">
                            <router-link to="/" class="ui-link">Контакты</router-link>
                            <router-link to="/" class="ui-link">Соглашение</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</template>
<script>
import Logo from '@/assets/logo.svg';
import vk from '@/assets/svg/vk.svg';
import steam from '@/assets/png/steam.png';
import top from '@/assets/png/podium.png';
import globe from '@/assets/png/globe.png';
import search from '@/assets/png/search.png';
import wallet from '@/assets/png/wallet.png';
import mainImage from '@/assets/png/front-side.png';
import easymoneyGame from '@/assets/jpg/easymoney.jpg';
import doubleGame from '@/assets/jpg/easymoney_doublegame.jpg';
import crashGame from '@/assets/jpg/easymoney_crash.jpg';
import nvutiGame from '@/assets/jpg/easymoney_nvuti.jpg';
import jackpotIcon from '@/assets/svg/jackpot.svg';
import doubleIcon from '@/assets/svg/double.svg';
import crashICon from '@/assets/svg/crash.svg';
import nvutiIcon from '@/assets/svg/nvuti.svg';
import calendar from '@/assets/svg/calendar.png';
import freeWallet from '@/assets/svg/wallet.png';
import bonus from '@/assets/svg/bonus.png';
import macbook from '@/assets/png/macbook2.png';
import tablet from '@/assets/png/Pencil.png';
import dollars from '@/assets/png/dollars.png';

export default {
    name: 'Index',

    data() {
        return {
            isOpen: false,
            logo: Logo,
            vk: vk,
            steam: steam,
            top: top,
            globe: globe,
            search: search,
            wallet: wallet,
            mainImage: mainImage,
            easymoneyGame: easymoneyGame,
            doubleGame: doubleGame,
            crashGame: crashGame,
            nvutiGame: nvutiGame,
            jackpotIcon: jackpotIcon,
            doubleIcon: doubleIcon,
            crashIcon: crashICon,
            nvutiIcon: nvutiIcon,
            freeWallet: freeWallet,
            calendar: calendar,
            bonus: bonus,
            macbook: macbook,
            tablet: tablet,
            dollars: dollars,
        };
    },
};
</script>

<style lang="scss" scoped>
.yellow {
    position: relative;

    svg {
        position: absolute;
        left: -5px;
        z-index: 1;
    }

    svg + span {
        position: relative;
        z-index: 5;
    }
}

section {
    overflow: hidden;
}

header {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, $light-gray, rgba(0, 0, 0, 0.05));

    nav {
        height: 80px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
        background: $black;
    }

    @media (max-width: 1440px) {
        nav {
            margin-bottom: 90px;
        }
    }

    @media (max-width: 425px) {
        nav {
            margin-bottom: 60px;
        }
    }
}

.navbar-burger.burger {
    color: $white;
    height: auto;
}

.buttons {
    margin: auto;
}

.navbar-menu.is-active .buttons:last-child {
    margin-bottom: auto;
}

.container {
    // height: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 100%;
    max-height: 80px;
    max-width: 210px;
    margin-left: 10px;
    padding: 15px;
    background: $white;
}

.btn-vk {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 194px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: $yellow;
    box-shadow: 0px 5px 30px rgba(255, 202, 0, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: lighten($yellow, 15%);
    }

    &:focus {
        background: darken($yellow, 10%);
        outline-color: yellow;
    }

    span {
        width: 25px;
        height: 20px;
        margin-right: 5px;
        line-height: 20px;
    }

    @media (max-width: 400px) {
        display: flex;
        width: 100%;
        margin: auto;
    }
}

.btn-steam {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 105px;
    margin-right: 10px;
    color: $white;
    border: none;
    border: 2px solid $white;
    border-radius: 5px;
    background: $black;
    cursor: pointer;
    transition: all 0.3s ease;

    span {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        line-height: 20px;
    }

    &:hover {
        color: $black;
        background: $white;
    }

    @media (max-width: 400px) {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: 5px;
        border: none;
    }
}

.btn-vk span img,
.btn-steam span img {
    width: 100%;
    height: 100%;
}

.main-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 900px;
    width: 100%;
    background-image: url('../../assets/png/confetti-landing-first.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 16px;
    text-align: center;

    .container {
        position: relative;
    }

    .watermark {
        left: 50%;
        top: 57%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        text-align: center;
        overflow: hidden;
        font-size: 7vw;
        margin: auto;
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        opacity: 0.1;
        text-shadow: 0 0 50px rgba(135, 135, 135, 1);
    }

    @media (max-width: 1440px) {
        height: auto;
    }

    @media (max-width: 1024px) {
        background-size: cover;
        background-position: 30%;
    }
}

h1 {
    position: relative;
    margin-bottom: 80px;
    line-height: 1.2;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;

    small {
        display: block;
        font-size: 50px;
        font-weight: 700;
        color: $gray;
        text-transform: lowercase;
    }

    @media (max-width: 1024px) {
        font-size: 7vw;

        small {
            font-size: 5vw;
        }
    }

    @media (max-width: 425px) {
        margin-bottom: 40px;
        font-size: 30px;

        small {
            font-size: 20px;
        }
    }
}

.advantages {
    position: relative;
    margin-bottom: 40px;
    .columns {
        margin: 0 0 40px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        color: $gray;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 1.4;
    }

    &__wrapper {
        position: relative;
        display: flex;
        width: 140px;
        height: 140px;
        margin: 0 auto 20px;
        border-radius: 5px;
        background: $white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        z-index: 5;
    }

    &__image {
        position: relative;
        margin: auto;
        width: 60px;
        height: 60px;
    }

    &__image:after {
        content: '';
        position: absolute;
        left: -10px;
        bottom: 0;
        width: 80px;
        height: 4px;
        margin-bottom: -40px;
        background-color: $yellow;
    }

    &__item strong {
        color: $black;
    }

    @media (max-width: 425px) {
        &__text {
            font-size: 16px;
        }
    }
}

.main-image {
    position: relative;
    margin: 0 20px;
    z-index: 5;

    img {
        width: 100%;
        margin: 0 auto;
        -webkit-filter: drop-shadow(3px 5px 5px #000);
        filter: drop-shadow(3px 5px 5px #000);
    }
}

.details {
    position: relative;
    height: 1620px;
    background-image: url('../../assets/png/confetti-landing-second.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    h3 {
        display: flex;
        align-items: center;
        margin: 20px 40px;
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
    }

    h3 span img {
        margin-right: 20px;
        width: 41px;
        height: 41px;
    }

    &__item.column {
        padding: 0;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 25px;
        padding: 25px;
        background: $white;
        border-radius: 5px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        z-index: 5;
    }

    &__img {
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    &__text {
        position: relative;
        font-size: 20px;
        margin: 25px;
    }

    &__text:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: $yellow;
        margin-left: -25px;
        height: 100%;
    }

    @media (max-width: 1024px) {
        height: auto;
        h2 {
            font-size: 5vw;
        }

        h3 {
            font-size: 28px;
        }

        &__item {
            width: 85%;
            margin: 40px auto;
        }

        &__text {
            font-size: 18px;
        }
    }

    @media (max-width: 525px) {
        padding-top: 50px;
        padding-bottom: 50px;

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }

        &__item {
            width: 95%;
        }

        &__text {
            font-size: 16px;
        }
    }
}

.bonuses {
    position: relative;
    height: 650px;
    background: $white;
    background-image: url('../../assets/png/confetti-landing-third.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        position: relative;
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        z-index: 5;
    }

    h2 small {
        display: block;
        font-weight: 500;
        color: $gray;
        text-transform: lowercase;
    }

    .columns {
        margin: 0 0 40px;
    }

    &__items {
        position: relative;
        margin: 20px 50px 0;
        z-index: 5;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 60px auto 0;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        line-height: 1.4;
    }

    &__text h4 {
        margin: 0;
        color: $black;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__text p {
        width: 90%;
        margin: 10px auto 40px;
    }

    &__image {
        position: relative;
        margin: auto;
        width: 75px;
        height: 75px;
    }

    &__image:after {
        content: '';
        position: absolute;
        left: -10px;
        bottom: 0;
        width: 100px;
        height: 4px;
        margin-bottom: -40px;
        background-color: $yellow;
    }

    @media (max-width: 1024px) {
        height: auto;
        h2 {
            font-size: 5vw;
        }

        h4 {
            font-size: 3.5vw;
        }
        p {
            font-size: 18px;
        }
    }

    @media (max-width: 525px) {
        padding-top: 50px;
        padding-bottom: 0px;

        h2 {
            font-size: 22px;
        }

        h4 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
        }

        .columns {
            margin: 0;
        }
    }
}

.referral {
    position: relative;
    height: auto;
    background: $light-gray;
    background-image: url('../../assets/png/confetti-landing-fourth.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    .watermark {
        left: 35%;
        top: 30%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        text-align: center;
        overflow: hidden;
        font-size: 7vw;
        margin: auto;
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        opacity: 0.1;
        text-shadow: 0 0 50px rgba(135, 135, 135, 1);
    }

    .container {
        display: flex;
    }

    &__image {
        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__image img {
        position: relative;
        height: 100%;
        width: max-content;
        margin-bottom: -3px;
        z-index: 5;
    }

    &__wrapper {
        height: 100%;
        margin-right: 50px;
        margin-left: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
        z-index: 5;
    }

    &__wrapper h2 {
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__wrapper p {
        font-size: 20px;
    }

    @media (max-width: 1280px) {
        background-size: cover;
        background-position: 0%;
    }

    @media (max-width: 1024px) {
        h2 {
            font-size: 5vw;
        }

        p {
            font-size: 16px;
        }
    }

    @media (max-width: 525px) {
        h2 {
            font-size: 22px;
            text-align: center;
        }

        &__wrapper {
            margin-right: 15px;
            margin-left: 15px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.percent {
    position: relative;
    max-width: 480px;
    margin-top: 40px;
    padding: 30px 40px;
    width: 100%;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    z-index: 5;

    &__wrapper {
        position: relative;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item p {
        margin-top: 0;
    }

    &__item:nth-child(3) p {
        margin-bottom: 0;
    }

    &__wrapper:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: $yellow;
        margin-left: -40px;
        height: 100%;
    }

    &__item p:nth-child(2) {
        display: flex;
    }

    &__item p > b {
        font-size: 24px;
        margin-right: 5px;
    }

    &__item p span {
        display: inline-block;
        height: min-content;
        line-height: 16px;
        font-size: 16px;
        font-weight: 600;
        background: $yellow;
    }

    @media (max-width: 1024px) {
        &__item p {
            font-size: 16px;
        }

        &__item p > b {
            font-size: 20px;
        }

        &__item p span {
            font-size: 14px;
        }
    }

    @media (max-width: 525px) {
        padding: 20px 30px;
        &__item p {
            font-size: 14px;
        }

        &__item p > b {
            font-size: 16px;
        }

        &__item p span {
            font-size: 12px;
        }
    }
}

.review {
    position: relative;
    background: $white;
    height: auto;
    background-image: url('../../assets/png/confetti-landing-fifth.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 95%;

    .watermark {
        left: 60%;
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
        width: 70%;
        text-align: right;
        overflow: hidden;
        font-size: 6.5vw;
        line-height: 0.8;
        margin: auto;
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        opacity: 0.1;
        text-shadow: 0 0 50px rgba(135, 135, 135, 1);
    }

    .container {
        display: flex;
    }
    &__wrapper {
        margin: 100px 45px;
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        font-size: 20px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px 35px 10px;
    }
    &__image img {
        position: relative;
        z-index: 5;
    }

    &__wrapper .btn-vk {
        margin: 40px 0;
    }

    @media (max-width: 1024px) {
        h2 {
            margin-bottom: 15px;
            font-size: 5vw;
        }

        p {
            font-size: 16px;
        }

        &__image img {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        &__image {
            display: none;
        }
    }

    @media (max-width: 525px) {
        h2 {
            font-size: 22px;
            text-align: center;
        }
        &__wrapper {
            margin: 50px 20px;
        }
    }
}

footer {
    background: $black;

    nav {
        height: 80px;
        width: 100%;
        background: $black;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .info {
        padding: 20px;
        background: #222;
    }

    .info__wrapper {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }

    .copyright {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav {
        margin-left: auto;
    }

    .copyright {
        color: #c1c1c1;
    }

    .links {
        display: flex;
    }

    .links a {
        margin-left: 20px;
    }

    .socials {
        color: #fff;

        svg {
            color: #fff;
            margin-left: 2.86rem;
            cursor: pointer;
        }
    }

    @media (max-width: 891px) {
        .logo img {
            width: auto;
        }

        .info__wrapper {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    @media (max-width: 816px) {
        nav {
            height: auto;
        }
        .nav-wrapper {
            flex-direction: column;
        }

        .logo {
            padding: 0;
        }

        .logo img {
            margin: auto;
            max-width: none;
            width: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .links a {
            margin-left: 0;
            margin-right: 10px;
            font-size: 12px;
        }

        .socials {
            margin-top: 10px;
            margin-bottom: 20px;

            svg {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    @media (max-width: 340px) {
        .links {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            text-align: center;
        }

        .links a {
            margin: 0;
            margin-bottom: 10px;
        }
    }
}

.info {
    @media (max-width: 680px) {
        &__wrapper {
            display: flex;
        }

        .copyright {
            position: unset;
            transform: none;
        }
    }

    @media (max-width: 460px) {
        &__wrapper {
            flex-direction: column;
        }

        .copyright {
            margin: auto;
            margin-bottom: 10px;
        }

        .nav {
            margin: auto;
        }

        .nav a {
            margin: 10px;
        }
    }
}

.main-content .container > img,
.bonuses .container > img,
.referral .container > img,
.review .container > img,
.details .container > img {
    position: absolute;
    z-index: 1;
}

.details .container > img {
    &:nth-child(1) {
        top: 0%;
        left: 90%;
        transform: rotate(60deg);
    }

    &:nth-child(2) {
        top: 85%;
        left: -40%;
        transform: rotate(-10deg);
    }
}

.bonuses .container > img {
    &:nth-child(1) {
        top: 50%;
        left: 85%;
        transform: rotate(-30deg);
    }
}
</style>