<template>
    <section :class="sidebarClass">
        <div class="collapse-button" @click="handleCollapseClick">
            <SvgIcon :class="iconClass" icon-name="chevron" />
        </div>
        <div class="chat-title">
            <SvgIcon icon-name="chat" width="40" height="40" />
            <p>Чат игроков</p>
            <SvgIcon class="help" icon-name="help" width="20" height="20" />
        </div>
        <div class="chat-field">
            <div v-for="(item, i) in chatField" :key="i" class="chat-field-row">
                <div class="chat-field-top">
                    <div class="avatar">
                        <img :src="item.img" width="20" height="20" alt="avatar" />
                    </div>
                    {{ item.name }}
                    <span>{{ item.id }}</span>
                </div>
                <div class="chat-field-bottom">{{ item.text }}</div>
            </div>
        </div>
        <div class="chat-form">
            <textarea rows="10" placeholder="Напишите ответ..."></textarea>
            <Btn class="btn-dark" variant="dark">Отправить</Btn>
        </div>
    </section>
</template>


<script>
import { CHAT_TOGGLE } from '@/store/constants';

export default {
    name: 'Chat',
    data() {
        return {
            chatField: [
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    id: 554266,
                    text: 'Привет всем!',
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    id: 554266,
                    text: 'Привет всем!',
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    id: 554266,
                    text: 'Привет всем!',
                },
            ],
        };
    },
    computed: {
        isCollapsed() {
            return this.$store.state.ui.chatCollapsed;
        },
        iconClass() {
            return this.isCollapsed ? '' : 'reversed';
        },
        sidebarClass() {
            return ['app-chat', { 'app-chat-collapsed': this.isCollapsed }];
        },
    },
    methods: {
        handleCollapseClick() {
            this.$store.commit('CHAT_TOGGLE');
        },
    },
};
</script>

<style lang="scss" scoped>
.app-chat {
    display: flex;
    flex-direction: column;
    right: 0;
    transition: all 0.15s ease-in-out;

    &-collapsed {
        width: 80px;
    }

    &.app-chat-collapsed .chat-field,
    &.app-chat-collapsed .chat-form {
        display: none;
    }

    &.app-chat-collapsed .chat-title {
        position: relative;
        flex-direction: row-reverse;
        top: 63px;
        left: -63px;
        width: 207px;
        white-space: nowrap;
        transform: rotate(-90deg);
    }

    &.app-chat-collapsed .chat-title p {
        margin-left: 0;
    }

    &.app-chat-collapsed .chat-title svg {
        transform: rotate(90deg);
    }

    &.app-chat-collapsed .chat-title .help {
        display: none;
    }

    @media (max-width: 1280px) {
        &-collapsed {
            position: relative;
            height: 80px;
            width: auto;
        }

        &.app-chat-collapsed .chat-title {
            position: unset;
            flex-direction: row;
            top: unset;
            left: unset;
            width: auto;
            white-space: unset;
            transform: unset;
        }

        &.app-chat-collapsed .chat-title p {
            margin-left: 10px;
        }

        &.app-chat-collapsed .chat-title svg {
            transform: unset;
        }

        & .chat-title .help,
        & .chat-field,
        & .chat-form {
            display: unset;
        }

        &.app-chat-collapsed .chat-title .help,
        &.app-chat-collapsed .chat-field,
        &.app-chat-collapsed .chat-form {
            display: none;
        }
    }
}

.reversed {
    transform: rotate(180deg);
}

.collapse-button {
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: -20px;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    background: $light-gray;
    background: linear-gradient(0deg, rgb(239, 239, 240) 68%, rgb(247, 247, 247) 93%);
    box-shadow: 0 10px 26px 0 rgba(190, 190, 198, 0.43);
    transform: rotate(-180deg);
    transition: all 0.3s ease;

    &:hover {
        color: $green;
    }

    @media (max-width: 1280px) {
        top: -20px;
        left: 50%;
        transform: rotate(-90deg) translateY(-50%);
    }
}

.chat-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    background: $light-gray;

    p {
        margin-left: 10px;
        margin-right: auto;
        color: $black;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    @media (max-width: 1280px) {
        margin-top: 0;
    }
}

.chat-field {
    display: flex;
    flex-direction: column;
    max-height: 690px;
    width: 100%;
    font-weight: 500;
    overflow-y: scroll;

    &-row {
        display: flex;
        flex-direction: column;
        min-height: 80px;
    }

    &-top,
    &-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        padding: 10px;
    }

    &-top {
        color: $gray;
        background: $white;
    }

    &-bottom {
        color: $black;
    }

    &-top span {
        margin-left: 10px;
        padding: 2px 7px;
        color: $black;
        background: darken($light-gray, 5%);
        border-radius: 5px;
    }

    @media (max-width: 1280px) {
        max-height: 400px;
    }
}

.avatar {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    img {
        min-width: 20px;
        min-height: 20px;
        border-radius: 50%;
    }
}

.chat-form {
    margin: 20px;

    textarea {
        width: 100%;
        height: 140px;
        margin-bottom: 10px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        resize: none;
        &:focus {
            border-color: $green;
        }
    }
}
</style>