<template>
    <div class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Nvuti Game</h1>
        </div>
        <div class="main-section__ps c-gray">
            <div class="watermark">Nvuti</div>
            <p>
                Мы не хотим, чтобы Вас обманывали и кидали на деньги фейковые сайты.
                <br />У нас все максимально честно и прозрачно(RANDOM.ORG).
            </p>
            <a>Мои игры</a>
        </div>
        <div class="main-section__game game">
            <div class="game-form">
                <div class="game-form__item">
                    <div class="game-form__title">
                        <SvgIcon icon-name="rate" width="40" height="40" />Сумма
                    </div>
                    <input type="text" placeholder="Введите сумму" />
                    <div class="buttons">
                        <Btn class="btn-min" variant="min">Удвоить</Btn>
                        <Btn class="btn-min" variant="min">Половина</Btn>
                        <Btn class="btn-min" variant="min">Макс</Btn>
                        <Btn class="btn-min" variant="min">Мин</Btn>
                    </div>
                </div>
                <div class="game-form__item">
                    <div class="game-form__title">
                        <img class="image" :src="target" alt="Target" /> Процент
                    </div>
                    <input type="text" placeholder="10" />
                    <div class="buttons">
                        <Btn class="btn-min" variant="min">Удвоить</Btn>
                        <Btn class="btn-min" variant="min">Половина</Btn>
                        <Btn class="btn-min" variant="min">Макс</Btn>
                        <Btn class="btn-min" variant="min">Мин</Btn>
                    </div>
                </div>
            </div>
            <div class="game-field">
                <div class="game-field__item">
                    <p class="game-field__title">Меньше</p>
                    <p class="game-field__count">0 - 100000</p>
                </div>
                <div class="game-field__result">
                    <div class="game-field__current-prize">
                        <span>999</span>
                    </div>
                    <p>Возможный выигрыш</p>
                    <div class="game-field__random">
                        Выпало
                        <span>19490</span>
                    </div>
                </div>
                <div class="game-field__item">
                    <p class="game-field__title">Больше</p>
                    <p class="game-field__count">900000 - 999999</p>
                </div>
            </div>
            <div class="game-check">
                <a>Проверить</a>
            </div>
        </div>
        <div class="game-history">
            <div class="game-history__title">
                <img width="25" height="25" :src="historyIcon" alt="history" />
                Последние игры
            </div>
            <div class="game-history__header">
                <div class="header__column">Имя</div>
                <div class="header__column">Число</div>
                <div class="header__column">Цель</div>
                <div class="header__column">Сумма</div>
                <div class="header__column">Шанс</div>
                <div class="header__column">Выигрыш</div>
            </div>
            <div v-for="(item, i) in historyGame" :key="i" class="game-history__content">
                <div class="content__column">{{ item.name }}</div>
                <div class="content__column">{{ item.number }}</div>
                <div class="content__column">{{ item.target }}</div>
                <div class="content__column">{{ item.sum }}</div>
                <div class="content__column status-bar">
                    <div :class="item.chance"></div>
                </div>
                <div class="content__column" :class="item.cssClass">{{ item.win }}</div>
            </div>
            <div v-for="(item, i) in historyGame" :key="i" class="game-history__content-mob">
                <div class="avatar">
                    <img :src="item.img" width="40" height="40" alt="avatar" />
                </div>
                <div class="content-mob__wrapper">
                    <div class="content-mob__row c-gray">{{ item.name }}</div>
                    <div class="content-mob__row c-gray">
                        Число:
                        <span>{{ item.number }}</span>
                    </div>
                    <div class="content-mob__row c-gray">
                        Цель #
                        <span>{{ item.target }}</span>
                    </div>
                    <div class="content-mob__row c-gray">
                        Сумма:
                        <span>{{ item.sum }}</span>
                    </div>
                    <div class="content-mob__row c-gray status-bar">
                        <div :class="item.chance"></div>
                    </div>
                    <div class="content-mob__row c-gray">
                        Выигрыш:
                        <span :class="item.cssClass">{{ item.win }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import target from '@/assets/png/target.png';
import historyIcon from '@/assets/svg/history.svg';

export default {
    name: 'nvuti',
    data() {
        return {
            target: target,
            historyIcon: historyIcon,
            historyGame: [
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    number: 466334,
                    target: '990000 - 999999',
                    sum: 30,
                    chance: 'status-bar--green',
                    win: 52,
                    cssClass: 'success',
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    number: 466334,
                    target: '990000 - 999999',
                    sum: 30,
                    chance: 'status-bar--yellow',
                    win: 0,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    number: 466334,
                    target: '990000 - 999999',
                    sum: 30,
                    chance: 'status-bar--red',
                    win: 0,
                },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
.main-section {
    &__ps {
        position: relative;
        height: 160px;
        width: 100%;
        background-image: url('../../assets/png/confetti-nvuti-game.png');
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 16px;
        text-align: center;
    }

    .watermark {
        left: 50%;
        top: 55%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        text-align: center;
        font-size: 150px;
        margin: auto;
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        opacity: 0.1;
        text-shadow: 0 0 50px rgba(135, 135, 135, 1);
    }

    &__ps p {
        position: inherit;
        padding-top: 8%;
        z-index: 5;
    }

    &__ps a {
        position: inherit;
        z-index: 5;
        color: $black;
        border-bottom: 2px dashed $green;

        &:hover {
            color: $green;
        }
    }

    @media (max-width: 691px) {
        .watermark {
            display: none;
        }

        &__ps {
            height: auto;
            width: auto;
            margin-left: 10px;
            margin-right: 10px;
            background: none;
            font-size: 14px;
        }

        &__ps p {
            padding-top: 0;
        }
    }
}

.game {
    position: relative;
    margin-top: 50px;
    padding: 40px;
    background: #f5f5f5;
    border-radius: 5px;

    &-form {
        display: flex;
        justify-content: space-between;
        margin-top: -80px;
    }

    &-form__item {
        max-width: 320px;
        width: 100%;
        padding: 20px;
        background: $white;
        border-radius: 5px;
    }

    &-form__item:nth-child(1) {
        margin-right: 40px;
    }

    &-form__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 62px;
        max-height: 62px;
        font-size: 16px;
        text-transform: uppercase;
    }

    &-form__title svg,
    &-form__title img {
        height: 40px;
        margin-right: 5px;
    }

    &-form__item input {
        max-height: 40px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        &:focus {
            outline: none !important;
            border-color: $green;
        }

        ::placeholder {
            color: #555;
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn-min {
        width: 48%;
        padding: 5px;
        margin-bottom: 10px;
    }

    &-check {
        position: absolute;
        bottom: -40px;
        left: 50%;
        width: 200px;
        height: 40px;
        padding: 7px 14px;
        color: black;
        font-size: 16px;
        background: #eee;
        text-align: center;
        transform: translateX(-50%);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &-check a {
        color: black;
        border-bottom: 2px dashed $green;
    }

    @media (max-width: 691px) {
        padding: 10px;

        &-form {
            margin-top: 0;
        }

        &-form__item {
            padding: 10px;
        }

        .btn-min {
            font-size: 14px;
        }

        &-form__item:nth-child(1) {
            margin-right: 10px;
        }
    }

    @media (max-width: 550px) {
        .buttons {
            flex-direction: column;
        }
        .btn-min {
            width: 100%;
        }
        &-form__title {
            flex-direction: column;
        }

        &-form__title svg,
        &-form__title img {
            margin-right: 0;
        }
    }
}

.game-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        padding: 10px;
        background: $yellow;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 10px 30px rgba($yellow, 0.4);
    }

    &__item:hover {
        background: lighten($yellow, 10%);
        box-shadow: 0px 5px 30px rgba(255, 202, 0, 0.6);
    }

    &__result {
        width: 30%;
        margin-right: 10px;
        margin-left: 10px;
    }

    &__title {
        color: $black;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__count {
        color: #da8113;
        font-size: 16px;
    }

    &__current-prize {
        margin-bottom: 5px;
        color: $black;
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
    }

    &__current-prize span {
        position: sticky;
        &::before {
            position: absolute;
            bottom: 0.6rem;
            content: '';
            width: calc(100% + 7px);
            height: 0.57rem;
            left: -3.5px;
            background: $primary;
            border-radius: 5px;
            z-index: -1;
        }
    }

    &__result p {
        color: $gray;
        font-size: 16px;
    }

    &__random {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin-top: 5px;
        color: $white;
        font-size: 16px;
        background: $green;
        border-radius: 5px;
    }

    &__random span {
        margin-left: 5px;
    }

    @media (max-width: 691px) {
        flex-wrap: wrap;

        &__item {
            width: 49%;
        }

        &__title {
            font-size: 24px;
        }

        &__result {
            width: 100%;
            margin: auto;
            margin-top: 10px;
            order: 1;
        }

        &__random {
            width: 60%;
            margin: 10px auto;
        }
    }
}

.avatar {
    height: 40px;
}
.avatar img {
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
}

.game-history {
    margin: 50px 0 10px;
    word-wrap: break-word;

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 10px 20px 0;
        text-transform: uppercase;
        font-size: 16px;
        color: $black;
    }

    &__title img,
    &__title svg {
        width: 40px;
        height: 40px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        background: #dedee4;
        border-radius: 5px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        color: $black;
        border-bottom: 1px solid #dedee4;
    }
    .header__column,
    .content__column {
        margin-right: 5px;
    }

    .header__column:nth-child(1),
    .content__column:nth-child(1) {
        width: 25%;
    }

    .header__column:nth-child(2),
    .content__column:nth-child(2),
    .header__column:nth-child(4),
    .content__column:nth-child(4) {
        width: 10%;
    }

    .header__column:nth-child(3),
    .content__column:nth-child(3) {
        width: 20%;
    }

    .header__column:nth-child(5),
    .content__column:nth-child(5),
    .header__column:nth-child(6),
    .content__column:nth-child(6) {
        width: 14%;
    }

    &__content-mob {
        display: none;
    }

    .success {
        color: $success;
    }

    @media (max-width: 691px) {
        margin-left: 10px;
        margin-right: 10px;
        &__header,
        &__content {
            display: none;
        }

        &__content-mob {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #dedee4;
        }

        .content-mob__wrapper {
            display: flex;
            flex-direction: column;
            margin: 10px 0 10px 20px;
        }

        .content-mob__wrapper span:not(.success) {
            color: $black;
            font-weight: 600;
        }

        .avatar {
            margin: auto 0;
        }
    }
}

.status-bar {
    position: relative;
    height: 15px;
    margin: auto 5px auto 0;
    background: #dedee4;
    border-radius: 50px;

    &--yellow,
    &--green,
    &--red {
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        height: auto;
        border-radius: 50px;
    }

    &--yellow {
        width: 50%;
        background: $yellow;
    }

    &--green {
        width: 80%;
        background: $green;
    }

    &--red {
        width: 10%;
        background: $red;
    }

    @media (max-width: 691px) {
        order: 1;
    }
}
</style>