<template>
    <button :class="className" :type="type">
        <slot></slot>
    </button>
</template>

<script>
export default {
    name: 'Btn',
    props: {
        type: {
            type: String,
            required: false,
            default: 'button',
        },
        variant: {
            type: String,
            required: false,
            default: 'primary',
        },
    },
    computed: {
        className() {
            const { variant } = this;
            return ['btn', `btn-${variant}`];
        },
    },
};
</script>

<style lang="scss" scoped>
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 0.88rem;
    padding: $button-padding;
    font-size: 16px;
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;

    &-dark {
        height: 40px;
        color: $white;
        background: $black;
        box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.43);

        &:hover {
            color: #fff;
            background: $black-hover;
            box-shadow: 0 10px 26px 0 rgba(144, 0, 0, 0.43) !important;
        }
    }

    &-yellow {
        height: 40px;
        color: $black;
        background: $primary;
        box-shadow: 0px 5px 30px rgba(lighten($yellow, 10%), 0.6);

        &:hover {
            background: lighten($yellow, 10%);
            box-shadow: 0px 5px 30px rgba(255, 202, 0, 0.6);
        }
    }

    &-blue {
        height: 40px;
        color: $white;
        background: $blue;
        box-shadow: 0px 5px 30px rgba(lighten($blue, 10%), 0.6);

        &:hover {
            background: lighten($blue, 10%);
            box-shadow: 0px 5px 30px rgba($blue, 0.6);
        }
    }

    &-min {
        color: $white;
        background: $black;

        &:hover {
            color: #fff;
            background: $black-hover;
        }
    }
}
</style>
