<template>
    <div class="notifications">
        <div class="toast success">
            <SvgIcon icon-name="success" width="20" height="20" />Ваша ставка успешно принята
        </div>
        <div class="toast losing">
            <SvgIcon icon-name="error" width="20" height="20" />Ваша ставка проиграла
        </div>
    </div>
</template>

<script>
export default {};
</script>


<style lang="scss" scoped>
.notifications {
    position: fixed;
    bottom: 30px;
    left: 90px;
    background: transparent;
    color: $white;
    font-size: 14px;
    z-index: 60;
}

.toast {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: max-content;
    border-radius: 50px;
    & + & {
        margin-top: 10px;
    }

    svg {
        margin-top: -3px;
        margin-right: 10px;
        color: $white;
    }
}

.success {
    background: $green;
    box-shadow: 0 5px 20px rgba($green, 0.4);
}

.losing {
    background: $red;
    box-shadow: 0 5px 20px rgba($red, 0.4);
}
</style>
