<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Пополнение</h1>
        </div>
        <div class="main-section__content content">
            <h2 class="h2">Выберите систему оплаты:</h2>
            <div class="payment-system">
                <div class="payment-system__item active">
                    <img class="payment-system__img" :src="qiwi" alt="Qiwi" />
                    <p class="payment-system__text">Qiwi</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="card" alt="Card" />
                    <p class="payment-system__text">Карты</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="mobile" alt="Mobile" />
                    <p class="payment-system__text">Моб. телефоны</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="webmoney" alt="Webmoney" />
                    <p class="payment-system__text">Webmoney</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="bitcoin" alt="Bitcoin" />
                    <p class="payment-system__text">Bitcoin</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="skinpay" alt="Skinpay" />
                    <p class="payment-system__text">Skinpay</p>
                </div>
            </div>
            <form class="form" action="#">
                <legend>Сумма пополнения:</legend>
                <div class="form-area">
                    <input type="text" placeholder="Введите сумму" />
                    <Btn class="btn-yellow">
                        <SvgIcon icon-name="check" height="20" width="20" />Перейти к оплате
                    </Btn>
                </div>
            </form>
        </div>
        <AccountHistory />
    </section>
</template>

<script>
import SvgIcon from '@ui/atoms/SvgIcon';
import AccountHistory from '@ui/components/account-history/AccountHistory';

import mobile from '@/assets/png/mobile.png';
import bitcoin from '@/assets/png/bitcoin.png';
import qiwi from '@/assets/png/qiwi.png';
import webmoney from '@/assets/png/webmoney.png';
import card from '@/assets/png/card.png';
import skinpay from '@/assets/png/skinpay.png';

export default {
    name: 'Replenishment',
    components: { AccountHistory },

    data() {
        return {
            mobile: mobile,
            bitcoin: bitcoin,
            qiwi: qiwi,
            webmoney: webmoney,
            card: card,
            skinpay: skinpay,
        };
    },
};
</script>

<style lang="scss" scoped>
.h2 {
    margin-bottom: 40px;
}

.content {
    margin-bottom: 150px;

    @media (max-width: 1090px) {
        margin-bottom: 180px;
    }

    @media (max-width: 691px) {
        margin: 0;
    }
}

.form {
    &-area input,
    .btn-yellow {
        width: 48%;
    }

    @media (max-width: 1090px) {
        &-area input,
        .btn-yellow {
            width: 100%;
        }
    }
}
</style>