<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Рефералам</h1>
        </div>
        <div class="main-section__content content">
            <div class="content__items">
                <div class="description-block">
                    <h2 class="h2">Зарабатывай вместе с нами!</h2>
                    <p class="c-gray">
                        Если ваш друг введет код, он получит 50 монеток.
                        <br />А вы будете получать до 1,5% с его ставок!
                    </p>
                </div>
                <div class="form-min">
                    <input type="text" placeholder="Ваш реферальный код" />
                    <Btn class="btn-dark" variant="dark">
                        <ion-icon name="copy"></ion-icon>Скопировать
                    </Btn>
                </div>
            </div>
            <div class="content__items">
                <div class="description-block">
                    <h2 class="h2">Вас пригласили? Или есть промокод?</h2>
                    <p class="c-gray">
                        Вводи и получи монеты бесплатно.
                        <br />За один промокод минимум 50 монет.
                    </p>
                </div>
                <div class="form-min">
                    <input type="text" placeholder="Ваш промокод" />
                    <Btn class="btn-dark" variant="dark">
                        <SvgIcon icon-name="check" height="20" width="20" />Активировать
                    </Btn>
                </div>
            </div>
            <div class="referral-info">
                <div class="avatar">
                    <img
                        src="https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg"
                        width="80"
                        height="80"
                        alt="avatar"
                    />
                </div>
                <div class="referral-info__items">
                    <div class="referral-info__item">
                        <p>
                            <span>10 рефералов</span> 0,5% от ставок
                        </p>
                        <div class="level">
                            <div class="bg-left"></div>
                            <div class="bg-right"></div>
                            <p>Уровень 1</p>
                        </div>
                    </div>
                    <div class="referral-info__item">
                        <p>
                            На счету:
                            <span>8456</span>
                        </p>
                        <Btn class="btn-yellow" variant="yellow">
                            <SvgIcon icon-name="check" height="20" width="20" />Забрать монеты
                        </Btn>
                    </div>
                </div>
                <div class="note c-gray">Следующий уровень: 10 рефералов / 0,7% от ставок</div>
            </div>
        </div>
        <div class="statistics">
            <h3>Статистика заработка</h3>
            <div class="statistics__items">
                <div class="statistics__item">
                    <img class="image" :src="jackpot" alt="Jackpot" />
                    <p class="amount-info">3242</p>
                    <p class="c-gray">Jackpot Game</p>
                </div>
                <div class="statistics__item">
                    <img class="image" :src="double" alt="Double" />
                    <p class="amount-info">0</p>
                    <p class="c-gray">Double Game</p>
                </div>
                <div class="statistics__item">
                    <img class="image" :src="crash" alt="Crash" />
                    <p class="amount-info">10</p>
                    <p class="c-gray">Crash Game</p>
                </div>
                <div class="statistics__item">
                    <img class="image" :src="balance" alt="Balance" />
                    <p class="amount-info">3242</p>
                    <p class="c-gray">Всего</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import AccountHistory from '@ui/components/account-history/AccountHistory';
import jackpot from '@/assets/svg/jackpot.svg';
import crash from '@/assets/svg/crash.svg';
import balance from '@/assets/svg/balance.svg';
import double from '@/assets/svg/double.svg';

export default {
    name: 'Referrals',
    components: { AccountHistory },

    data() {
        return {
            jackpot: jackpot,
            double: double,
            crash: crash,
            balance: balance,
        };
    },
};
</script>


<style lang="scss" scoped>
.h2 {
    margin-bottom: 20px;
}

.c-gray {
    color: $gray;
}

.content {
    margin-bottom: 200px;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }

    &__items:nth-child(1) {
        border-bottom: 1px solid rgba($gray, 0.2);
    }

    &__items:nth-child(2) {
        margin-bottom: 40px;
    }

    .description-block {
        width: 60%;
    }

    .form-min {
        width: 35%;
    }

    .form-min input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border: 1px solid #ddd;
        border-radius: 5px;

        &:focus {
            outline: none !important;
            border-color: $green;
        }
    }

    .form-min input,
    .form-min button {
        width: 100%;
        max-height: 40px;
    }

    .btn-dark {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
    }

    .btn-dark ion-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    @media (max-width: 691px) {
        margin: 0;
        margin-bottom: 15px;
        .form-min {
            margin-top: 20px;
        }
    }

    @media (max-width: 550px) {
        &__items {
            flex-direction: column;
        }

        .description-block,
        .form-min {
            width: 100%;
        }

        .form-min {
            margin: 0;
            margin-top: 20px;
        }
    }
}

.referral-info {
    position: absolute;
    left: 40px;
    right: 40px;
    width: auto;
    margin: 0 auto;
    padding: 40px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    text-align: center;

    .avatar {
        position: relative;
    }

    .avatar img {
        position: absolute;
        top: -80px;
        left: 50%;
        min-height: 80px;
        min-width: 80px;
        transform: translateX(-40px);
        border-radius: 50%;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
    }

    &__item > p {
        text-transform: uppercase;
        font-size: 15px;
    }

    &__item > p span {
        // font-weight: 500;
        color: $black;
    }

    &__item:nth-child(1) > p {
        color: $black;
    }

    .level {
        position: relative;
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }

    .bg-left {
        position: absolute;
        height: 100%;
        width: 50%;
        background: repeating-linear-gradient(
            -45deg,
            rgba($black, 0.1),
            rgba($black, 0.1) 7px,
            transparent 0,
            transparent 14px
        );
    }

    .bg-right {
        position: absolute;
        left: 50%;
        height: 100%;
        width: 50%;
        background: repeating-linear-gradient(
            45deg,
            rgba($black, 0.1),
            rgba($black, 0.1) 7px,
            transparent 0,
            transparent 14px
        );
    }

    .level p {
        margin: auto;
        color: $black;
        font-size: 16px;
        // font-weight: 500;
    }

    @media (max-width: 1090px) {
        padding: 30px;

        .avatar img {
            top: -70px;
        }
    }

    @media (max-width: 691px) {
        padding: 20px;
        position: unset;

        &__items {
            display: flex;
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }

        .avatar img {
            top: -60px;
        }
        .referral-info__items {
            margin-top: 30px;
        }

        &__item:nth-child(1) {
            margin-bottom: 20px;
        }
    }
}

.statistics {
    h3 {
        margin-bottom: 20px;
        color: $black;
        font-size: 33px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    &__item {
        min-width: 140px;
        padding: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        background: $white;
        text-align: center;
    }

    &__item img {
        width: 40px;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
    }

    .amount-info {
        color: $black;
        font-size: 16px;
        font-weight: 600;
    }

    @media (max-width: 691px) {
        h3 {
            font-size: 20px;
        }
    }
}
</style>
