<template>
    <div id="app-wrapper" :class="wrapperClass">
        <Sidebar />
        <Header />
        <section class="app-content">
            <router-view />
        </section>
        <Chat />
        <Footer />
    </div>
</template>

<script>
import Sidebar from '@ui/organisms/sidebar/Index';
import Header from '@ui/organisms/header/Index';
import Footer from '@ui/organisms/footer/Index';
import Chat from '@ui/organisms/chat/Index';
import { mapState } from 'vuex';

export default {
    name: 'Default',
    components: { Sidebar, Header, Footer, Chat },
    computed: {
        isChatCollapsed() {
            return this.$store.state.ui.chatCollapsed;
        },

        isSidebarCollapsed() {
            return this.$store.state.ui.sidebarCollapsed;
        },
        wrapperClass() {
            return [
                'app-wrapper',
                { 'app-wrapper-expanded': !this.isSidebarCollapsed },
                { 'app-wrapper-chat-expanded': !this.isChatCollapsed },
            ];
        },
    },
};
</script>

<style lang="scss" scoped>
.app-wrapper {
    grid-template-columns: 80px auto 80px;

    &-expanded {
        grid-template-columns: 210px auto 80px;
    }

    &-chat-expanded {
        grid-template-columns: 80px auto 300px;
    }

    &-chat-expanded#{&}-expanded {
        grid-template-columns: 210px auto 300px;
    }

    @media (max-width: 1280px) {
        &-expanded {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        &-chat-expanded {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            .app-chat {
                width: 100%;
            }
        }

        &-chat-expanded#{&}-expanded {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            .app-chat {
                width: 100%;
            }
        }

        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
</style>
