<template>
    <div class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Бонусы</h1>
        </div>
        <div class="main-section content vk-block">
            <div class="content__item vk-block__left">
                <h2>Вступить в группу VK</h2>
                <p>Вступай в нашу группу в вк и получай бонусы!</p>
                <p>
                    <b>15 монет</b> можно получить 1 раз в день
                    <br />
                    <b>1 монету</b> можно получать каждые 5 минут с 10:00 до 00:00 по МСК
                </p>
            </div>
            <div class="content__item vk-block__right">
                <div
                    class="g-recaptcha"
                    data-theme="light"
                    data-sitekey="XXXXXXXXXXXXX"
                    style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"
                ></div>
                <Btn class="btn-yellow" variant="yellow">Получить 1 монету</Btn>
                <Btn class="btn-yellow" variant="yellow">Получить 15 монет</Btn>
            </div>
        </div>
        <div class="content notification-block">
            <div class="content__item notification-block__left">
                <h2>Разрешить сообществу писать вам</h2>
                <p>
                    Разреши нам уведомлять тебя о новых крутых акциях и бонусах и получи 30 монеток! Нажмите на "Получать уведомления", в диалоговом окне нажмите "Разрешить". И если кнопка сменилась на "Запретить уведомления", то скорее всего монетки уже на вашем балансе :)
                    <br />
                    <b>Получить бонус можно 1 раз</b>
                </p>
            </div>
            <div class="content__item notification-block__right">
                <Btn class="btn-blue" variant="blue">Get notifications</Btn>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Bonuses',
};
</script>

<style lang="scss" scoped>
.title {
    margin: 0 auto;
    text-align: center;
    @media (min-width: 1201px) {
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 40px;
    background: $light-gray;
    border-radius: 5px;

    button {
        width: 100%;
    }

    .btn-yellow {
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
    @media (max-width: 691px) {
        margin: 0;
        margin-bottom: 20px;
        border-radius: 0;
    }
}

.vk-block,
.notification-block {
    &__left,
    &__right {
        min-height: max-content;
        padding: 40px;
    }

    &__left {
        width: 55%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 45%;
        background: $white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 40px rgba($color: $black, $alpha: 0.1);
    }

    @media (max-width: 768px) {
        &__left,
        &__right {
            width: 100%;
        }

        &__left {
            margin-bottom: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
        }

        &__right {
            border-top-right-radius: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    @media (max-width: 691px) {
        &__left,
        &__right {
            padding: 10px;
        }

        &__right {
            width: 95%;
            margin: auto;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 5px;
        }
    }
}

.g-recaptcha {
    margin: 0 auto 20px;

    @media (max-width: 768px) {
        transform-origin: unset !important;
    }

    @media (max-width: 380px) {
        margin: 0 0 20px;
        transform: scale(0.87) !important;
        -webkit-transform: scale(0.87) !important;
    }
}

h2 {
    margin-bottom: 40px;
    color: $black;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 691px) {
        margin-bottom: 20px;
        padding-top: 20px;
        text-align: left;
    }
}
</style>