<template>
    <div class="account-history">
        <div class="account-history__title">
            <img width="25" height="25" :src="historyIcon" alt="history" />
            История счета
        </div>
        <div class="account-history__header">
            <div class="header__column">Дата</div>
            <div class="header__column">Номер</div>
            <div class="header__column">Тип</div>
            <div class="header__column">Инфо</div>
            <div class="header__column">Сумма</div>
            <div class="header__column">Статус</div>
        </div>
        <div v-for="(item, i) in accountHistory" :key="i" class="account-history__content">
            <div class="content__column">{{ item.data }}</div>
            <div class="content__column">{{ item.number }}</div>
            <div class="content__column">{{ item.type }}</div>
            <div class="content__column">{{ item.info }}</div>
            <div class="content__column">{{ item.sum }}</div>
            <div class="content__column" :class="item.cssClass">{{ item.status }}</div>
        </div>
        <div v-for="(item, i) in accountHistory" :key="i" class="account-history__content-mob">
            <div class="content-mob__wrapper">
                <div class="content__column">
                    <span class="sharp">#</span>
                    {{ item.data }}
                </div>
                <div class="content__column">{{ item.number }}</div>
                <div class="content__column" :class="item.cssClass">{{ item.status }}</div>
            </div>
            <div class="content-mob__wrapper">
                <div class="content__column">{{ item.info }}</div>
                <div class="content__column">{{ item.sum }}</div>
                <div class="content__column">{{ item.type }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import historyIcon from '@/assets/svg/history.svg';

export default {
    data() {
        return {
            historyIcon: historyIcon,
            accountHistory: [
                {
                    data: '10.11.2019',
                    number: 1797513,
                    type: 'Пополнение',
                    info: 'Qiwi',
                    sum: '+ 500 р.',
                    status: 'Выполнен',
                    cssClass: 'success',
                },
                {
                    data: '10.01.2020',
                    number: 1997513,
                    type: 'Пополнение',
                    info: 'Qiwi',
                    sum: '+ 1500 р.',
                    status: 'Ожидание',
                    cssClass: 'processing',
                },
                {
                    data: '01.01.2020',
                    number: 1997523,
                    type: 'Пополнение',
                    info: 'Qiwi',
                    sum: '+ 500 р.',
                    status: 'Выполнен',
                    cssClass: 'success',
                },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
.sharp {
    margin-right: 3px;
    font-weight: bold;
    font-style: italic;
    color: #aaa;
}

.account-history {
    margin: 10px;
    word-wrap: break-word;

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 10px 20px 0;
        text-transform: uppercase;
        font-size: 16px;
        color: $black;
    }

    &__title img,
    &__title svg {
        width: 40px;
        height: 40px;
    }

    &__header {
        display: flex;
        padding: 15px 30px;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        background: #dedee4;
        border-radius: 5px;
    }

    &__content {
        display: flex;
        padding: 15px 30px;
        color: $black;
        border-bottom: 1px solid #dedee4;
    }
    .header__column,
    .content__column {
        width: 13%;
        margin-right: 5px;
    }

    .header__column:nth-child(3),
    .content__column:nth-child(3),
    .header__column:nth-child(4),
    .content__column:nth-child(4),
    .content__column:nth-child(6),
    .header__column:nth-child(6) {
        width: 20%;
    }

    &__content-mob {
        display: none;
    }

    @media (max-width: 1200px) {
        &__header {
            display: none;
        }

        &__content {
            display: none;
        }

        .content__column {
            width: 33% !important;
            text-align: center;
        }

        &__content-mob {
            display: flex;
            flex-wrap: wrap;
            color: $black;

            .content-mob__wrapper:nth-child(1) {
                padding: 10px;
                background: #dedee4;
                border-radius: 5px;
            }

            .content-mob__wrapper {
                display: flex;
                justify-content: space-around;
                width: 100%;
                padding: 10px;
            }
        }
    }

    @media (max-width: 691px) {
        &__content-mob {
            .content-mob__wrapper:nth-child(2) {
                padding: 10px 10px 10px 0px;
            }

            .content-mob__wrapper {
                justify-content: space-between;
            }
        }
    }
}

.success {
    color: $success;
}

.processing {
    color: $processing;
}
</style>