<template>
    <div class="menu-burger">
        <div class="backdrop" v-if="show" @click="show = !show"></div>
        <div class="bg-black">
            <transition name="fade" mode="out-in">
                <i class="material-icons menu" v-if="!show" @click="show = !show" key="menu">menu</i>
                <i class="material-icons clear" v-else @click="show = !show" key="clear">clear</i>
            </transition>
            <transition name="fade">
                <ul v-if="show">
                    <router-link
                        v-for="nav in navs"
                        :key="nav.routeName"
                        :to="{ name: nav.routeName }"
                        tag="li"
                    >
                        <img :src="nav.icon" alt="icon" />
                        {{ nav.title }}
                    </router-link>
                </ul>
            </transition>
        </div>
    </div>
</template>

<script>
import { navs } from '@ui/organisms/sidebar/nav';

export default {
    name: 'MenuBurger',
    data() {
        return {
            navs,
            show: false,
        };
    },
};
</script>
<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.menu-burger {
    margin-left: 20px;
    margin-right: auto;
    height: 100%;

    .bg-black {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    @media (min-width: 1281px) {
        display: none;
    }

    @media (max-width: 691px) {
        display: flex;
        margin: 0;
        width: 25%;
        background: $white;

        .bg-black {
            background: $black;
            border-top-right-radius: 20px;
        }

        .menu {
            margin: auto;
        }
    }
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

.material-icons {
    color: black;
    background: #ffca00;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    z-index: 100;
}

ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    padding: 40px;
    overflow-x: scroll;
    background: linear-gradient(to top left, #ccc, $white);
    box-shadow: 0 0 50px rgba($black, 0.5);
    z-index: 10;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
</style>