<template>
    <section :class="sidebarClass">
        <div class="collapse-button" @click="handleCollapseClick">
            <SvgIcon :class="iconClass" icon-name="chevron" />
        </div>
        <div class="logo">
            <img class="image" :src="logo" alt="Logo" />
        </div>
        <Menu />
        <div class="logo logo-bottom">
            <img class="image" :src="logo" alt="Logo" />
        </div>
    </section>
</template>

<script>
import Menu from '@ui/organisms/sidebar/Menu';
import Logo from '@/assets/logo.svg';
import { SIDEBAR_TOGGLE } from '@/store/constants';

export default {
    name: 'Sidebar',
    components: { Menu },
    data() {
        return {
            logo: Logo,
        };
    },
    computed: {
        isCollapsed() {
            return this.$store.state.ui.sidebarCollapsed;
        },
        iconClass() {
            return this.isCollapsed ? '' : 'reversed';
        },
        sidebarClass() {
            return ['app-sidebar', { 'app-sidebar-collapsed': this.isCollapsed }];
        },
    },
    methods: {
        handleCollapseClick() {
            this.$store.commit(SIDEBAR_TOGGLE, !this.isCollapsed);
        },
    },
};
</script>

<style lang="scss" scoped>
.logo {
    min-height: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    & img {
        width: 80%;
    }

    &-bottom {
        margin-top: auto;
        background: $white;
    }
}

.app-sidebar {
    background: $light-gray;
    display: flex;
    flex-direction: column;
    transition: all 0.15s ease-in-out;

    &-collapsed {
        width: 80px;

        & .logo {
            padding: 0;
        }

        & .logo img {
            width: 80%;
        }
    }

    @media (max-width: 1280px) {
        display: none;
    }
}

.reversed {
    transform: rotate(-180deg);
}

.collapse-button {
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: -20px;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    background: $light-gray;
    background: linear-gradient(0deg, rgb(239, 239, 240) 68%, rgb(247, 247, 247) 93%);
    box-shadow: 0 10px 26px 0 rgba(190, 190, 198, 0.43);
    transition: all 0.3s ease;

    &:hover {
        color: $green;
    }
}

.image {
    width: 100%;
    height: auto;
}
</style>
