<template>
    <div class="navs">
        <router-link
            v-for="nav in navs"
            :key="nav.routeName"
            :to="{ name: nav.routeName }"
            tag="div"
            :class="getClass(nav)"
        >
            <div class="icon">
                <img :src="nav.icon" alt="icon" />
            </div>
            <div v-if="!isCollapsed" class="title">
                <span>{{ nav.title }}</span>
            </div>
        </router-link>
    </div>
</template>

<script>
import { navs } from './nav';

export default {
    name: 'Menu',
    data() {
        return {
            navs,
        };
    },
    computed: {
        isCollapsed() {
            return this.$store.state.ui.sidebarCollapsed;
        },
    },
    methods: {
        getClass(nav) {
            return [
                'nav-item',
                {
                    'nav-item-highlighted': nav.isHighlighted,
                },
            ];
        },
    },
};
</script>

<style scoped lang="scss">
.navs {
    overflow-x: scroll;
    background: $light-gray;
}

.title {
    margin-left: 0.71rem;
    font-size: 16px;
    z-index: 2;
    transition: all 0.3s ease;
}

.nav-item {
    cursor: pointer;
    padding: 1.43rem 0 1.43rem 1.14rem;
    display: flex;
    align-items: center;
    border-left: 4px solid $light-gray;
    transition: border-left-color 0.3s ease;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;

    &-highlighted {
        background: #fff;
        border-left-color: $white;
    }

    &:not(&-active):hover {
        & .title {
            color: $green;
        }
    }

    &-active {
        border-left-color: $primary;

        span {
            position: relative;

            &::before {
                @keyframes grow {
                    from {
                        width: 0;
                    }

                    to {
                        width: 100%;
                    }
                }

                content: '';
                position: absolute;
                left: 0;
                bottom: 2px;
                width: 100%;
                height: 0.2rem;
                background: #ffca00;
                z-index: -1;
                animation: grow 0.15s ease-out;
            }
        }
    }
}

.icon {
    width: 40px;
    height: auto;
    flex-shrink: 0;
}
</style>
