<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Вывод</h1>
        </div>
        <div class="main-section__content content">
            <div class="content__items">
                <div class="description-block">
                    <h2 class="h2">Для перевода монет игроку вам достаточно знать его уникальный ID</h2>
                    <p class="c-gray">
                        Минимальная сумма перевода 20 монет.
                        <br />Для выполнения перевода нужно сделать вывод минимум на 250 рублей.
                    </p>
                </div>
                <div class="id-block">
                    <p>Ваш ID</p>
                    <p id="your-id">3422554</p>
                    <p class="copy">
                        <a href="#">
                            <ion-icon name="copy"></ion-icon>
                            <span>Скопировать</span>
                        </a>
                    </p>
                </div>
            </div>
            <form class="form" action="#">
                <div class="form-area form__first-row">
                    <label>
                        Введите ID получателя:
                        <input type="text" placeholder="Уникальный ID" />
                    </label>
                    <label>
                        Сумма для перевода:
                        <input type="text" placeholder="Сумма для перевода" />
                    </label>
                </div>
                <div class="form-area form__last-row">
                    <div class="c-gray">
                        <p>
                            Комиссия:
                            <span>5%</span>
                        </p>
                        <p>
                            Будет списано:
                            <span>400.00 РУБ.</span>
                        </p>
                    </div>
                    <Btn class="btn-yellow" variant="yellow">
                        <SvgIcon icon-name="check" height="20" width="20" />Перевести
                    </Btn>
                </div>
            </form>
        </div>
        <AccountHistory />
    </section>
</template>

<script>
import AccountHistory from '@ui/components/account-history/AccountHistory';

export default {
    name: 'Transfer',
    components: { AccountHistory },
};
</script>

<style lang="scss" scoped>
.h2 {
    margin-bottom: 20px;
}

.content {
    margin-bottom: 200px;

    &__items {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .description-block {
        width: 73%;
    }

    .id-block {
        width: 27%;
        margin: auto;
        margin-left: 20px;
        padding: 10px;
        border: 2px dashed $yellow;
        border-radius: 5px;
        text-align: center;
    }

    .id-block p {
        margin-bottom: 0;
        color: $black;
        font-weight: 600;
    }

    .id-block p:nth-child(1) {
        font-size: 16px;
        text-transform: uppercase;
    }

    .copy ion-icon {
        width: 20px;
        height: 20px;
        color: $green;
    }

    .copy a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
    }

    .copy span {
        border-bottom: 2px dashed $green;
    }

    #your-id {
        font-size: 24px;
    }

    @media (max-width: 1090px) {
        margin-bottom: 310px;
    }

    @media (max-width: 691px) {
        margin: 0;
        margin-bottom: 15px;
        .id-block {
            margin-top: 20px;
        }
    }

    @media (max-width: 550px) {
        &__items {
            flex-direction: column;
        }

        .description-block,
        .id-block {
            width: 100%;
        }

        .id-block {
            margin: 0;
            margin-top: 20px;
        }
    }
}

.form {
    &__first-row {
        margin-bottom: 20px;
    }

    @media (max-width: 1090px) {
        &__first-row {
            margin-bottom: 0;
        }
    }
}
</style>