<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Jackpot Game</h1>
        </div>
        <div class="stats">
            <div class="watermark">Jackpot</div>
            <div class="stats__items">
                <div class="stats__item">
                    <div class="count">
                        <p>
                            13564
                            <img class="image" :src="balance" alt="Balance" />
                        </p>
                    </div>
                    <p class="c-gray">Максимальный джекпот сегодня</p>
                </div>
                <div class="stats__item">
                    <div class="count">
                        <p>
                            1117
                            <img class="image" :src="jackpot" alt="Jackpot" />
                        </p>
                    </div>
                    <p class="c-gray">Количество игр сегодня</p>
                </div>
                <div class="stats__item">
                    <div class="count">
                        <p>
                            728959
                            <img class="image" :src="maxJackpot" alt="Max Jackpot" />
                        </p>
                    </div>
                    <p class="c-gray">Максимальный джекпот</p>
                </div>
            </div>
        </div>
        <div class="main-section__game game">
            <h2>Текущая игра</h2>
            <p class="c-gray subtitle">Выберите комнату:</p>
            <div class="rooms">
                <div class="rooms__item">
                    <SvgIcon icon-name="play" width="40" height="40" />
                    <h3 class="rooms__name">Классик</h3>
                    <p class="rooms__rate">от 300</p>
                    <div class="rooms__bank">
                        <SvgIcon icon-name="play" width="40" height="40" />
                        <p>
                            Банк:
                            <span>473</span>
                        </p>
                    </div>
                </div>
                <div class="rooms__item active">
                    <SvgIcon icon-name="selected-game" width="40" height="40" />
                    <h3 class="rooms__name">Мажор</h3>
                    <p class="rooms__rate">от 1000</p>
                    <div class="rooms__bank">
                        <SvgIcon icon-name="selected-game" width="40" height="40" />
                        <p>
                            Банк:
                            <span>1554</span>
                        </p>
                    </div>
                </div>
                <div class="rooms__item">
                    <SvgIcon icon-name="play" width="40" height="40" />
                    <h3 class="rooms__name">Бомж</h3>
                    <p class="rooms__rate">1 - 300</p>
                    <div class="rooms__bank">
                        <SvgIcon icon-name="play" width="40" height="40" />
                        <p>
                            Банк:
                            <span>473</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="current-jackpot">
                <p>Джекпот сейчас</p>
                <p>
                    <span>8465</span>
                    <SvgIcon icon-name="rate" width="40" height="40" />
                </p>
            </div>
            <div class="game-field">
                <div class="current-winner">
                    Победил:
                    <span>Алексей Трабурановский</span> Билет:
                    <span>#45542</span> Выигрыш:
                    <span>
                        8465
                        <SvgIcon icon-name="sum" width="20" height="20" />
                    </span>
                </div>
                <div class="animated-bar">
                    <div class="pointer">
                        <div class="pointer--black"></div>
                    </div>
                    <div class="bg-left"></div>
                    <div class="bg-right"></div>
                    <div class="red"></div>
                    <div class="blue"></div>
                    <div class="purple"></div>
                    <div class="yellow"></div>
                </div>
                <p
                    class="c-gray"
                    style="position: absolute; left: 50%;transform: translateX(-50%);bottom: 10px;"
                >Новая игра через:</p>
                <div class="start-time">
                    <span>25</span> сек
                </div>
            </div>
            <div class="info-field">
                <div class="left balance">
                    Ваш баланс:
                    <span>
                        12903
                        <SvgIcon icon-name="sum" width="20" height="20" />
                    </span>
                </div>
                <div class="right--desktop">
                    <a class="history-games-left">История игр</a>
                    <a class="history-games-right">История своих игр</a>
                </div>
            </div>
            <form class="bet-form">
                <div class="form-area">
                    <input type="text" placeholder="Введите сумму" />
                    <div class="clear">
                        <SvgIcon icon-name="clear" width="20" height="20" />
                    </div>
                    <div class="bid-amount">
                        <div class="bid-amount--10">+10</div>
                        <div class="bid-amount--100">+100</div>
                        <div class="bid-amount--1000">+1000</div>
                        <div class="bid-amount--all">Всё</div>
                    </div>
                    <Btn class="btn-yellow" variant="yellow">
                        <SvgIcon icon-name="check" height="20" width="20" />Сделать ставку
                    </Btn>
                </div>
            </form>
            <div class="info-field--mobile">
                <div class="right--mobile">
                    <a class="history-games-left">История игр</a>
                    <a class="history-games-right">История своих игр</a>
                </div>
            </div>
            <div class="history-list">
                <div v-for="(item, i) in historyList" :key="i" class="history-list__item">
                    <div class="avatar">
                        <img
                            :src="item.img"
                            width="40"
                            height="40"
                            alt="avatar"
                        />
                    </div>
                    <div class="wrapper">
                        <div class="name">{{ item.name }}</div>
                        <div class="amount">
                            Поставил
                            <span>{{ item.amount }}</span>
                        </div>
                        <div class="ticket-number">
                            Билет #
                            <span>{{ item.ticket }}</span>
                        </div>
                    </div>
                    <div class="probability" :class="item.cssClass">70%</div>
                </div>
            </div>
        </div>
        <notification />
    </section>
</template>

<script>
import notification from '@ui/atoms/notifications';
import jackpot from '@/assets/svg/jackpot.svg';
import selectedGame from '@/assets/svg/selected-game.svg';
import balance from '@/assets/svg/balance.svg';
import maxJackpot from '@/assets/svg/max-jackpot.svg';
import play from '@/assets/svg/play.svg';
import rate from '@/assets/svg/rate.svg';
import sum from '@/assets/svg/sum.svg';

export default {
    name: 'Jackpot',
    components: { notification },

    data() {
        return {
            jackpot: jackpot,
            selectedGame: selectedGame,
            maxJackpot: maxJackpot,
            balance: balance,
            play: play,
            rate: rate,
            sum: sum,
            historyList: [
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    amount: 5000,
                    ticket: '50-340',
                    cssClass: 'red-border',
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Данил Абрамов',
                    amount: 23000,
                    ticket: '20-32240',
                    cssClass: 'pink-border',
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Данил Абрамов',
                    amount: 5000,
                    ticket: '50-340',
                    cssClass: 'turquoise-border',
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    amount: 5000,
                    ticket: '50-340',
                    cssClass: 'blue-border',
                },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
.green {
    fill: $green;
}

.c-gray {
    font-size: 16px;
}

.stats {
    position: relative;
    height: 260px;
    width: 100%;
    background-image: url('../../assets/png/confetti-jackpot-game.png');
    background-size: contain;
    background-repeat: no-repeat;

    .watermark {
        left: 50%;
        top: 35%;
        transform: translateX(-55%) translateY(-50%);
        width: 100%;
        text-align: center;
        font-size: 150px;
        margin: auto;
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        opacity: 0.1;
        text-shadow: 0 0 50px rgba(135, 135, 135, 1);
    }

    &__items {
        position: sticky;
        display: flex;
        justify-content: space-around;
        padding-top: 10%;
    }

    &__item {
        width: 175px;
        padding: 15px;
        background: $white;
        border-radius: 5px;
    }

    .count {
        display: flex;
        align-items: center;
        margin-left: -50px;
        margin-bottom: 10px;
        color: $black;
        font-size: 33px;
        font-weight: 600;
    }

    .count > p {
        display: flex;
    }

    .count img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    &__item .c-gray {
        position: relative;
    }

    &__item .c-gray:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 4px;
        margin-left: -15px;
        background-color: $yellow;
    }

    @media (max-width: 691px) {
        height: auto;
        padding-top: 0px;
        margin-bottom: 20px;
        background: none;

        .watermark {
            display: none;
        }

        &__items {
            padding-top: 0;
            flex-direction: column;
        }

        &__item {
            display: flex;
            width: auto;
            margin: 10px;
            padding: 10px;
            background: $white;
        }

        .count {
            display: flex;
            align-items: center;
            margin-left: 0;
            margin-bottom: 0;
            color: $black;
            font-size: 22px;
            font-weight: 600;
            text-align: right;
            margin-left: auto;
        }

        .count > p {
            margin-left: auto;
            margin-right: 10px;
        }

        &__item .c-gray:before {
            content: none;
        }

        .count,
        &__item .c-gray {
            width: 50%;
        }
    }
}

.game {
    h2 {
        color: $black;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .subtitle {
        text-align: center;
    }

    .rooms {
        display: flex;
        justify-content: space-around;
    }

    @media (max-width: 691px) {
        h2 {
            font-size: 30px;
        }
        .subtitle {
            margin-bottom: 40px;
            font-size: 14px;
        }
    }
}

.rooms {
    &__item {
        width: 185px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgba($gray, 0.2);
        line-height: 1;
        cursor: pointer;
        &.active {
            background: $yellow;
            border: none;
            box-shadow: 0 10px 30px rgba($yellow, 0.5);
            opacity: 1;
        }
    }

    &__item:not(.active) h3,
    &__item:not(.active) p {
        opacity: 0.4;
    }

    &__item:not(.active) svg {
        color: #aaa;
    }

    &__item:hover:not(.active) {
        border: 1px solid rgba($green, 1);

        & svg {
            color: $green;
        }
    }

    &__item > svg {
        display: none;
    }

    &__name {
        color: $black;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__rate {
        color: $black;
        font-size: 30px;
        font-weight: 600;
    }

    &__bank {
        display: flex;
        align-items: center;
        margin-left: -40px;
        font-size: 16px;
    }

    &__bank svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    &__item.active .rooms__bank {
        color: #ba764e;
    }

    &__bank span {
        color: $black;
        font-weight: 600;
    }

    @media (max-width: 691px) {
        margin: 5px;

        &__item {
            position: relative;
            margin-left: 5px;
            margin-right: 5px;
            padding: 10px 0;
            line-height: 1.4;
            text-align: center;
            min-width: 95px;
        }

        &__name {
            margin-top: 15px;
        }

        &__rate {
            margin-bottom: 15px;
        }

        &__name,
        &__rate {
            font-size: 16px;
        }

        &__item > svg {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
        }

        &__bank {
            display: flex;
            justify-content: center;
            margin: auto;
            font-size: 14px;
        }

        &__bank svg {
            display: none;
        }

        &__bank p {
            display: flex;
            flex-direction: column;
        }
    }
}

.current-jackpot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    color: $gray;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;

    p:nth-child(2) {
        display: flex;
        align-items: center;
    }

    span {
        position: sticky;
        margin-left: 10px;
        margin-right: 10px;
        color: $black;
        font-weight: 600;

        &:before {
            position: absolute;
            bottom: 0.6rem;
            content: '';
            width: calc(100% + 7px);
            height: 0.57rem;
            left: -3.5px;
            background: #ffca00;
            border-radius: 5px;
            z-index: -1;
        }
    }

    @media (max-width: 691px) {
        flex-direction: column;

        p:nth-child(1) {
            font-size: 14px;
            text-transform: none;
            order: 3;
        }
    }
}

.game-field {
    position: relative;
    padding: 40px;
    background: $white;
    border-radius: 5px;

    .current-winner {
        position: absolute;
        bottom: 100px;
        left: 40px;
        right: 40px;
        padding: 7px 10px;
        color: rgba($white, 0.6);
        font-size: 16px;
        background: rgba($green, 1);
        border-radius: 50px;
        text-align: center;
        box-shadow: 0px 10px 30px rgba($green, 0.5);
    }

    .current-winner span {
        margin-right: 10px;
        color: rgba($white, 1);
    }

    .current-winner span > svg {
        margin-bottom: -3px;
        color: $white;
    }

    .animated-bar {
        position: relative;
        display: flex;
        height: 40px;
        width: 100%;
    }

    .bg-left {
        position: absolute;
        height: 100%;
        width: 50%;
        background: repeating-linear-gradient(
            -45deg,
            rgba($black, 0.3),
            rgba($black, 0.3) 7px,
            transparent 0,
            transparent 14px
        );
        animation: background 3s linear infinite;
    }

    .bg-right {
        position: absolute;
        left: 50%;
        height: 100%;
        width: 50%;
        background: repeating-linear-gradient(
            45deg,
            rgba($black, 0.3),
            rgba($black, 0.3) 7px,
            transparent 0,
            transparent 14px
        );
        animation: background 3s linear infinite;
    }

    @keyframes background {
        100% {
            background-position: 0 100px;
        }
    }

    .red,
    .blue,
    .purple,
    .yellow {
        width: 25%;
        height: 100%;
        opacity: 0.6;
    }

    .pointer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 20px;
        z-index: 10;
        border: 20px solid transparent;
        border-bottom: 20px solid $white;
    }

    .pointer--black {
        position: relative;
        z-index: 51;
    }
    .pointer--black::after {
        content: '';
        position: absolute;
        left: -10px;
        bottom: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid $black;
    }

    .red {
        background: red;
    }

    .blue {
        background: blue;
    }

    .purple {
        background: purple;
    }

    .yellow {
        background: yellow;
    }

    .start-time {
        position: absolute;
        bottom: -40px;
        left: 50%;
        width: 92px;
        height: 40px;
        padding: 7px 14px;
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        background: #eee;
        text-align: center;
        transform: translateX(-50%);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
    }

    @media (max-width: 691px) {
        padding: 40px 10px;
        border-radius: 0;

        .current-winner {
            font-size: 14px;
            border-radius: 5px;
            left: 10px;
            right: 10px;
        }
    }
}

.info-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 16px;

    .left {
        color: $gray;
    }

    .left span {
        color: $black;
        font-weight: 600;
    }

    .left svg {
        margin-bottom: -3px;
        color: $gray;
    }

    &--mobile {
        display: none;
        font-size: 16px;
    }

    .history-games-left,
    .history-games-right {
        color: $black;
        border-bottom: 2px dashed $green;

        &:hover {
            color: $green;
        }
    }

    .history-games-left {
        margin-right: 20px;
    }

    @media (max-width: 691px) {
        margin-top: 60px;

        .left {
            margin: auto;
        }
        .right--desktop {
            display: none;
        }
        &--mobile,
        &--mobile .right--mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
        }

        &--mobile .right--mobile {
            width: -webkit-fill-available;
        }
        &--mobile .history-games-left,
        &--mobile .history-games-right {
            color: $black;
            border-bottom: 2px dashed $green;

            &:hover {
                color: $green;
            }
        }
    }
}

.bet-form {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba($black, 0.1);

    input {
        flex-grow: 3;
        width: 100%;
        max-width: 422px;
        margin-right: 20px;
        padding-right: 36%;

        &:focus {
            outline: none !important;
            border-color: $green;
        }
    }
    .btn-yellow {
        flex-grow: 1;
    }

    .clear {
        position: absolute;
        left: 235px;
        top: 50px;
    }
    .bid-amount {
        position: absolute;
        display: flex;
        left: 255px;
        top: 50px;
    }

    .bid-amount--10,
    .bid-amount--100,
    .bid-amount--1000,
    .bid-amount--all {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0 5px;
        color: $white;
        font-weight: 500;
        background: $black;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background: $yellow;
        }
    }

    .clear svg {
        color: lighten($gray, 40%);
        cursor: pointer;
        &:hover {
            color: $red;
        }
    }

    @media (max-width: 1090px) {
        input {
            max-width: none;
            margin-right: 0;
            padding-right: 42%;
        }

        .clear {
            left: unset;
            right: 250px;
        }
        .bid-amount {
            left: unset;
            right: 45px;
        }
    }

    @media (max-width: 691px) {
        margin: 10px;
        padding: 20px;

        input {
            margin-bottom: 10px;
            padding-right: 12%;
        }

        .clear {
            left: unset;
            right: 25px;
            top: 30px;
        }

        .bid-amount {
            position: unset;
            display: flex;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
        }

        .bid-amount--10,
        .bid-amount--100,
        .bid-amount--1000,
        .bid-amount--all {
            width: 100%;
            padding: 5px 10px;
            color: #fff;
            text-align: center;
        }

        .bid-amount--10 {
            margin-left: 0;
        }
        .bid-amount--all {
            margin-right: 0;
        }
    }
}

.history-list {
    margin: 40px;

    &__item {
        width: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lighten($gray, 40%);
    }

    &__item,
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper {
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }

    .avatar {
        height: 40px;
    }
    .avatar img {
        border-radius: 50%;
        min-height: 40px;
        min-width: 40px;
        max-height: 40px;
        max-width: 40px;
    }

    .name {
        width: 60%;
    }

    .amount,
    .ticket-number {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .amount span,
    .ticket-number span {
        display: block;
        color: $black;
        font-weight: 600;
    }

    .probability {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        font-size: 12px;
        border-radius: 50%;
    }

    .red-border {
        border: 2px solid $red;
    }

    .pink-border {
        border: 2px solid pink;
    }

    .blue-border {
        border: 2px solid $blue;
    }

    .turquoise-border {
        border: 2px solid turquoise;
    }

    @media (max-width: 691px) {
        margin: 10px;
        &__item:nth-child(1) {
            padding-top: 10px;
            border-top: 1px solid lighten($gray, 40%);
        }
        &__item {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        .wrapper {
            flex-direction: column;
            width: 100%;
        }

        .name,
        .amount,
        .ticket-number {
            width: 100%;
        }

        .amount,
        .ticket-number {
            display: flex;
            flex-direction: row;
        }

        .amount span,
        .ticket-number span {
            margin-left: 10px;
        }
    }
}
</style>