<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Вывод</h1>
        </div>
        <div class="main-section__content content">
            <h2 class="h2 margin-bottom-5">Обратите внимание</h2>
            <p class="content__text">
                Вывод средств производится на платежные системы указанные ниже.
                <br />Пожалуйста, учтите, если вы неверно ввели платежные реквизиты средства не возвращаюся.
            </p>
            <h2 class="h2">Выберите систему оплаты:</h2>
            <div class="payment-system">
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="qiwi" alt="Qiwi" />
                    <p class="payment-system__text">Qiwi</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="card" alt="Card" />
                    <p class="payment-system__text">Карты</p>
                </div>
                <div class="payment-system__item">
                    <img class="payment-system__img" :src="mobile" alt="Mobile" />
                    <p class="payment-system__text">Моб. телефоны</p>
                </div>
                <div class="payment-system__item active">
                    <img class="payment-system__img" :src="webmoney" alt="Webmoney" />
                    <p class="payment-system__text">Webmoney</p>
                </div>
            </div>
            <form class="form" action="#">
                <div class="form-area form__first-row">
                    <label>
                        Ваш номер кошелька:
                        <input type="text" placeholder="R" />
                    </label>
                    <label>
                        Сумма для вывода(в монетах):
                        <input
                            type="text"
                            placeholder="Сумма для вывода"
                        />
                    </label>
                </div>
                <div class="form-area form__second-row">
                    <label>
                        <input type="checkbox" name="scales" checked />Я подтверждаю правильность введенных данных
                    </label>
                </div>
                <div class="form-area form__last-row">
                    <div class="c-gray">
                        <p>
                            Комиссия:
                            <span>0%</span>
                        </p>
                        <p>
                            К получению:
                            <span>400.00 РУБ.</span>
                        </p>
                    </div>
                    <Btn class="btn-yellow" variant="yellow">
                        <SvgIcon icon-name="check" height="20" width="20" />Вывести средства
                    </Btn>
                </div>
            </form>
        </div>
        <AccountHistory />
    </section>
</template>

<script>
import AccountHistory from '@ui/components/account-history/AccountHistory';

import mobile from '@/assets/png/mobile.png';
import qiwi from '@/assets/png/qiwi.png';
import webmoney from '@/assets/png/webmoney.png';
import card from '@/assets/png/card.png';

export default {
    name: 'Withdrawal',
    components: { AccountHistory },

    data() {
        return {
            mobile: mobile,
            qiwi: qiwi,
            webmoney: webmoney,
            card: card,
        };
    },
};
</script>

<style lang="scss" scoped>
.content {
    margin-bottom: 250px;

    @media (max-width: 1090px) {
        margin-bottom: 350px;
    }

    @media (max-width: 691px) {
        margin: 0;
        margin-bottom: 15px;
    }
}

.h2.margin-bottom-5 {
    margin-bottom: 5px;
}
</style>