<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Double Game</h1>
        </div>
        <div class="main-section__game game">
            <div class="roulete">
                <div class="roulete-stats">
                    <div v-for="(item, i) in rouleteStats" :key="i" :class="item.cssClass"></div>
                </div>
                <div class="roulete-stats-mirror">
                    <div v-for="(item, i) in rouleteStats" :key="i" :class="item.cssClass"></div>
                </div>
                <div class="roulete-history">
                    <a>Вся история игр</a>
                </div>
                <div class="roulete-wrapper">
                    <div class="wheel"></div>
                    <img class="image arrow" :src="arrow" alt="Arrow" />
                </div>
            </div>
            <div class="info-field">
                <div class="left balance">
                    Ваш баланс:
                    <span>
                        12903
                        <SvgIcon icon-name="sum" width="20" height="20" />
                    </span>
                </div>
                <div class="right">
                    <a class="history-bet">История ставок</a>
                </div>
            </div>
            <form class="bet-form">
                <div class="form-area">
                    <input type="text" placeholder="Введите сумму" />
                    <div class="clear">
                        <SvgIcon icon-name="clear" width="20" height="20" />
                    </div>
                    <div class="bid-amount">
                        <div class="bid-amount--10">+10</div>
                        <div class="bid-amount--100">+100</div>
                        <div class="bid-amount--1000">+1000</div>
                        <div class="bid-amount--all">Всё</div>
                    </div>
                </div>
            </form>
            <div class="game-table">
                <div class="game-table__item">
                    <div class="circle circle-black">X2</div>
                    <div class="sum">
                        <span>3847</span>
                        <SvgIcon icon-name="rate" width="40" height="40" />
                    </div>
                    <div v-if="playersListX2.length" class="players">
                        <div v-for="(item, i) in playersListX2" :key="i" class="players__item">
                            <div class="avatar">
                                <img :src="item.img" width="20" height="20" alt="avatar" />
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="rate">{{ item.rate }}</div>
                        </div>
                    </div>
                    <div class="detailed-list">
                        <img :src="detailedList" width="20" height="20" alt="Detailed list" />
                        <span class="c-gray">+23</span> на
                        <span class="c-black">9000</span>
                    </div>
                </div>
                <div class="game-table__item">
                    <div class="circle circle-yellow">X3</div>
                    <div class="sum">
                        <span>382</span>
                        <SvgIcon icon-name="rate" width="40" height="40" />
                    </div>
                    <div v-if="playersListX3.length" class="players">
                        <div v-for="(item, i) in playersListX3" :key="i" class="players__item">
                            <div class="avatar">
                                <img :src="item.img" width="20" height="20" alt="avatar" />
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="rate">{{ item.rate }}</div>
                        </div>
                    </div>
                    <div class="detailed-list">
                        <img :src="detailedList" width="20" height="20" alt="Detailed list" />
                        <span class="c-gray">+23</span> на
                        <span class="c-black">9000</span>
                    </div>
                </div>
                <div class="game-table__item">
                    <div class="circle circle-red">X5</div>
                    <div class="sum">
                        <span>5847</span>
                        <SvgIcon icon-name="rate" width="40" height="40" />
                    </div>
                    <div v-if="playersListX5.length" class="players">
                        <div v-for="(item, i) in playersListX5" :key="i" class="players__item">
                            <div class="avatar">
                                <img :src="item.img" width="20" height="20" alt="avatar" />
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="rate">{{ item.rate }}</div>
                        </div>
                    </div>
                    <div class="detailed-list b-none">
                        <img :src="detailedList" width="20" height="20" alt="Detailed list" />
                        <span>Нет ставок</span>
                    </div>
                </div>
                <div class="game-table__item">
                    <div class="circle circle-green">X50</div>
                    <div class="sum">
                        <span>382</span>
                        <SvgIcon icon-name="rate" width="40" height="40" />
                    </div>
                    <div v-if="playersListX50.length" class="players">
                        <div v-for="(item, i) in playersListX50" :key="i" class="players__item">
                            <div class="avatar">
                                <img :src="item.img" width="20" height="20" alt="avatar" />
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="rate">{{ item.rate }}</div>
                        </div>
                    </div>
                    <div class="detailed-list b-none">
                        <img :src="detailedList" width="20" height="20" alt="Detailed list" />
                        <span>Нет ставок</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import detailedList from '@/assets/png/detailed.png';
import arrow from '@/assets/png/arrow.png';

export default {
    name: 'double',
    data() {
        return {
            detailedList: detailedList,
            arrow: arrow,
            playersListX2: [
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 123,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 5000,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 500,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 1500,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 2200,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 9999,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 111,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 1111,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 2325,
                },
            ],
            playersListX3: [
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 123,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 5000,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 500,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 1500,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 2200,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 9999,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 2200,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Садрахманов',
                    rate: 9999,
                },
            ],
            playersListX5: [],
            playersListX50: [],
            rouleteStats: [
                {
                    cssClass: 'roulete-stats-red',
                },
                {
                    cssClass: 'roulete-stats-black',
                },
                {
                    cssClass: 'roulete-stats-black',
                },
                {
                    cssClass: 'roulete-stats-black',
                },
                {
                    cssClass: 'roulete-stats-red',
                },
                {
                    cssClass: 'roulete-stats-red',
                },
                {
                    cssClass: 'roulete-stats-yellow',
                },
                {
                    cssClass: 'roulete-stats-red',
                },
                {
                    cssClass: 'roulete-stats-yellow',
                },
                {
                    cssClass: 'roulete-stats-red',
                },
                {
                    cssClass: 'roulete-stats-yellow',
                },
                {
                    cssClass: 'roulete-stats-red',
                },
                {
                    cssClass: 'roulete-stats-green',
                },
                {
                    cssClass: 'roulete-stats-yellow',
                },
                {
                    cssClass: 'roulete-stats-black',
                },
                {
                    cssClass: 'roulete-stats-red',
                },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
.roulete {
    height: 370px;
    width: 100%;
    position: relative;
    background-image: url('../../assets/png/confetti-double-game.png');
    background-size: contain;
    background-repeat: no-repeat;

    &-stats {
        position: absolute;
        top: 40%;
        left: -10px;
        z-index: 10;
        transform: scale(1, -1);
    }

    &-stats-mirror {
        position: absolute;
        top: 50.5%;
        left: -10px;
        z-index: 10;
        opacity: 0.1;
    }
    &-history {
        position: absolute;
        top: 54%;
        left: 7px;
        z-index: 10;
    }

    &-stats,
    &-stats-mirror {
        display: flex;
        &-red {
            width: 4px;
            height: 30px;
            margin: 0 3.5px;
            background: $red;
        }

        &-black {
            width: 4px;
            height: 20px;
            margin: 0 3.5px;
            background: $black;
        }

        &-yellow {
            width: 4px;
            height: 40px;
            margin: 0 3.5px;
            background: $yellow;
        }

        &-green {
            width: 4px;
            height: 50px;
            margin: 0 3.5px;
            background: $green;
        }
    }

    &-history a {
        color: $black;
        font-size: 16px;
        border-bottom: 2px dashed $green;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

    &-wrapper {
        position: relative;
        width: 370px;
        height: 370px;
        margin: auto;
    }

    .wheel {
        background-image: url('../../assets/svg/wheel.svg');
        height: 370px;
        width: 370px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: 5s linear 0s normal none infinite running rot;
    }

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        transform: translate(-100px, -50%);
        zoom: 0.8;
    }

    @keyframes rot {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @media (max-width: 787px) {
        &-stats {
            top: 106%;
            left: 50%;
            transform: translateX(-50%) scale(1, -1);
        }

        &-stats-mirror {
            top: 116.5%;
            left: 50%;
            transform: translateX(-50%);
        }

        &-history {
            top: 120%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (max-width: 691px) {
        background: none;
    }

    @media (max-width: 420px) {
        &-wrapper {
            width: 300px;
            height: 300px;
        }
        .wheel {
            width: 300px;
            height: 300px;
        }

        .arrow {
            zoom: 0.75;
        }

        &-stats {
            top: 87%;
        }

        &-stats-mirror {
            top: 97.5%;
        }

        &-history {
            top: 102%;
        }
    }
}

.info-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 16px;

    .left {
        color: $gray;
    }

    .left span {
        color: $black;
        font-weight: 600;
    }

    .left svg {
        margin-bottom: -3px;
        color: $gray;
    }

    .history-bet {
        color: $black;
        border-bottom: 2px dashed $green;

        &:hover {
            color: $green;
        }
    }

    @media (max-width: 787px) {
        margin-top: 130px;
    }

    @media (max-width: 691px) {
        margin-top: 140px;

        .left {
            margin: auto;
        }
        .right {
            display: none;
        }
    }

    @media (max-width: 420px) {
        margin-top: 70px;
    }
}

.bet-form {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba($black, 0.1);

    input {
        flex-grow: 3;
        width: 100%;
        padding-right: 40%;

        &:focus {
            outline: none !important;
            border-color: $green;
        }
    }

    .clear {
        position: absolute;
        right: 260px;
        top: 50px;
    }
    .bid-amount {
        position: absolute;
        display: flex;
        right: 50px;
        top: 50px;
    }

    .bid-amount--10,
    .bid-amount--100,
    .bid-amount--1000,
    .bid-amount--all {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0 5px;
        color: $white;
        font-weight: 500;
        background: $black;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background: $yellow;
        }
    }

    .clear svg {
        color: lighten($gray, 40%);
        cursor: pointer;
        &:hover {
            color: $red;
        }
    }

    @media (max-width: 1090px) {
        input {
            max-width: none;
            margin: 0;
        }

        .clear {
            left: unset;
            right: 250px;
        }
        .bid-amount {
            left: unset;
            right: 45px;
        }
    }

    @media (max-width: 691px) {
        margin: 10px;
        padding: 20px;

        input {
            margin-bottom: 10px;
            padding-right: 12%;
        }

        .clear {
            left: unset;
            right: 25px;
            top: 30px;
        }

        .bid-amount {
            position: unset;
            display: flex;
            width: 100%;
            margin: auto;
        }

        .bid-amount--10,
        .bid-amount--100,
        .bid-amount--1000,
        .bid-amount--all {
            width: 100%;
            padding: 5px 10px;
            color: #fff;
            text-align: center;
        }

        .bid-amount--10 {
            margin-left: 0;
        }
        .bid-amount--all {
            margin-right: 0;
        }
    }
}

.game-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 515px;
    margin-top: 80px;
    flex-wrap: wrap;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 22%;
        padding: 15px;
        background: $light-gray;
        border-radius: 5px;
    }

    @media (max-width: 691px) {
        justify-content: space-around;
        height: auto;
        &__item {
            max-height: 310px;
            width: 45%;
            margin-bottom: 60px;
            padding: 10px;
        }
    }
}

.circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    margin: auto;
    color: $white;
    font-size: 33px;
    font-weight: 600;
    border-radius: 50%;

    &-black {
        background: $black;
        box-shadow: 0 10px 26px 0 rgba($black, 0.43);
    }

    &-yellow {
        background: $yellow;
        box-shadow: 0 10px 26px 0 rgba($yellow, 0.43);
    }

    &-red {
        background: $red;
        box-shadow: 0 10px 26px 0 rgba($red, 0.43);
    }

    &-green {
        background: $green;
        box-shadow: 0 10px 26px 0 rgba($green, 0.43);
    }
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 51px;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid lighten($gray, 40%);

    span {
        color: $black;
        font-size: 30px;
        font-weight: 600;
    }
}

.players {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: hidden;

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        padding: 10px 0;
        line-height: 1;
    }

    .name {
        white-space: nowrap;
        overflow: hidden;
        padding: 0 5px;
        text-overflow: ellipsis;
        color: $gray;
        font-size: 13px;
    }

    .rate {
        color: $black;
    }
}

.avatar {
    & img,
    & svg {
        width: 20px;
        height: 20px;
        min-height: 20px;
        min-width: 20px;
        border-radius: 50%;
    }
}

.detailed-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    min-height: 40px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid lighten($gray, 40%);

    span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.c-black {
    color: $black;
}

.b-none {
    border: none;
}
</style>