<template>
    <footer class="app-footer">
        <div class="left">
            <div class="copyright">ООО «Изи-мани ЛТД»</div>
            <div class="nav">
                <router-link to="/" class="ui-link">Контакты</router-link>
                <router-link to="/" class="ui-link">Соглашение</router-link>
            </div>
        </div>
        <div class="socials">
            <SvgIcon icon-name="fb" />
            <SvgIcon icon-name="vk" />
            <SvgIcon icon-name="tw" />
            <SvgIcon icon-name="ok" />
        </div>
    </footer>
</template>

<script>
export default {
    name: 'Index',
};
</script>

<style lang="scss" scoped>
.app-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: $white;
    padding: $footer-padding;
    font-size: 1rem;

    @media (max-width: 691px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 110px;
    }
}

.left {
    display: flex;
    @media (max-width: 691px) {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

.copyright {
    color: #c1c1c1;
}

.socials {
    color: #fff;

    svg {
        color: #fff;
        margin-left: 2.86rem;
    }

    @media (max-width: 691px) {
        margin: 0 auto auto;

        svg {
            margin: 0 20px auto;
        }
    }
}

.ui-link {
    @media (max-width: 691px) {
        margin: auto 20px;
    }
}
</style>
