html {
    background-color: #efeff0;
    font-size       : $default-font-size;
}

body {
    font-family: $main-font !important;
}

.app-wrapper {
    width                : 100%;
    display              : grid;
    height               : 100vh;
    grid-template-columns: 210px auto 300px;
    grid-template-rows   : 80px auto 80px;
    grid-template-areas  :
        "sidebar header header"
        // "sidebar content content"
        "sidebar content chat"
        "sidebar footer footer";

    @media (max-width: 1280px) {
        grid-template-areas:
            "header"
            "content"
            "chat"
            "footer";

        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows   : 80px auto auto auto;
    }
}

.app-header {
    grid-area   : header;
    padding-left: 20px;
    position    : fixed;
    width       : 100%;
    background  : $background-gray;
    height      : 80px;
    z-index     : 50;

    @media (max-width: 1280px) {
        padding: 0;
    }
}

.app-content {
    grid-area   : content;
    width       : 100%;
    height      : 100%;
    background  : #efeff0;
    padding     : 20px;
    max-width   : $max-content-width;
    justify-self: center;
    overflow: hidden;

    @media (max-width: 691px) {
        padding: 0;
        margin-top: 80px;
    }
}

.app-sidebar {
    grid-area: sidebar;
    width    : $sidebar-width;
    position : fixed;
    z-index  : 100;
    height   : 100%;
}

.app-chat {
    grid-area : chat;
    position : fixed;
    width     : $chat-width;
    background: $light-gray;
    z-index   : 40;
    height    : 100%;

    @media (max-width: 1280px) {
        position: relative;
        margin-top: 40px;
    }
}

.app-footer {
    grid-area : footer;
    position: static;
    background: $black;
    z-index: 50;
}