.h1 {
  text-transform: uppercase;
  color         : $black;
  font-size     : 2.36rem;
  font-family   : $main-font;
  font-weight   : 600;
  text-align    : left;
  position      : sticky;
  display       : inline-block;

  &::before {
    position     : absolute;
    bottom       : 0.1rem;
    content      : '';
    width        : calc(100% + 7px);
    height       : 0.57rem;
    left         : -3.5px;
    background   : $primary;
    border-radius: 5px;
    z-index      : -1;
  }

  @media (max-width: 1200px) {
    margin: 20px auto;

    &::before {
      bottom: 0.6rem;
    }
  }

  @media (max-width: 691px) {
    margin: 30px auto;
  }
}

.ui-link {
  text-decoration: none;
  color          : #fff;
  margin-left    : 2rem;
  transition     : all 0.3s ease;

  &:hover {
    color: $green;
  }
}

.main-section {

  font-weight: 500;

  &__title {
    margin    : 0 auto;
    text-align: center;
  }

  &__content {
    position     : relative;
    margin       : 10px;
    padding      : 40px;
    background   : $light-gray;
    border-radius: 5px;
  }

  .h2 {
    color         : $black;
    font-size     : 16px;
    font-weight   : 600;
    text-transform: uppercase;
  }


  @media (min-width: 1201px) {
    &__title {
      display: none;
    }
  }

  @media (max-width: 691px) {
    &__content {
      padding      : 10px;
      border-radius: 0;
    }

    .h2 {
      margin-bottom: 20px;
      padding-top  : 20px;
      text-align   : left;
    }
  }
}

.payment-system {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap             : 20px;
  padding-bottom       : 20px;

  &__item {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 200px;
    height         : 100%;
    min-height     : 147px;
    margin         : auto;
    padding        : 20px;
    cursor         : pointer;

    &.active {
      border       : 2px solid $yellow;
      border-radius: 5px;
    }
  }

  &__img {
    width : 100%;
    margin: auto;
  }

  &__text {
    margin-top : 10px;
    color      : $gray;
    font-size  : 16px;
    white-space: nowrap;
  }

  @media (max-width: 1260px) {
    grid-template-columns: repeat(2, auto);

    &__item {
      width    : 100%;
      min-width: 120px;
      max-width: 200px;
    }

    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 691px) {
    &__item {
      min-height: 107px;
      max-height: auto;
      padding   : 10px;
    }
  }
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.c-gray {
  color: $gray;
}

.form {
  position     : absolute;
  left         : 40px;
  right        : 40px;
  width        : auto;
  margin       : 0 auto;
  padding      : 40px;
  background   : $white;
  border-radius: 5px;
  box-shadow   : 0 0 40px rgba(0, 0, 0, 0.1);

  input,
  button {
    max-height: 40px;
  }

  input {
    &:focus {
      outline     : none !important;
      border-color: $green;
    }
  }

  legend {
    margin-bottom: 20px;
    color        : $black;
    font-size    : 16px;
  }

  &-area {
    display        : flex;
    justify-content: space-between;
  }

  &-area input {
    padding      : 10px;
    font-size    : 16px;
    font-weight  : 500;
    border       : none;
    border       : 1px solid #ddd;
    border-radius: 5px;
  }

  ::placeholder {
    color: #555;
  }

  button {
    padding: 10px;
  }

  &-area label {
    color      : $black;
    font-weight: 600;
  }

  &__first-row label input {
    margin-top: 10px;
  }

  &__first-row,
  &__last-row {
    justify-content: space-between;
  }

  &__first-row label input {
    width: 100%;
  }

  &__first-row label,
  &__last-row .c-gray,
  &__last-row .btn-yellow {
    width: 48%;
  }

  &__last-row .c-gray p {
    margin-bottom: 0;
  }

  &__second-row {
    margin-top   : 20px;
    margin-bottom: 20px;
    background   : $light-gray;
    border-radius: 5px;
  }

  &__second-row label {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    width         : 100%;
    padding       : 10px;
  }

  &__second-row input {
    width       : auto;
    margin      : 0;
    margin-right: 10px;
  }

  .c-gray span {
    color      : $black;
    font-weight: 600;
  }

  @media (max-width: 1090px) {
    padding: 30px;

    &-area {
      display       : flex;
      flex-direction: column;
    }

    &-area input {
      margin-bottom: 15px;
    }

    &__second-row input {
      margin-bottom: 0;
    }

    &__first-row label,
    &__last-row .c-gray,
    &__last-row .btn-yellow {
      width: 100%;
    }

    &__second-row {
      margin-bottom: 10px;
      margin-top   : 0;
    }

    &__last-row .c-gray {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 691px) {
    padding : 20px;
    position: unset;
  }
}