$white: #fff;
$light-gray: #f7f7f7;
$yellow: #ffca00;
$black: #131313;
$green: #45cd5c;
$red: #e3243f;
$gray: #686877;
$blue: #4587bf;
$purple: #6309c4;

$black-hover: #470000;

$primary: $yellow !default;
$background-gray: #efeff0;

$success: $green !default;
$warning: $yellow !default;
$processing: $gray !default;
$danger: $red !default;

$main-font: 'Montserrat', Arial, Helvetica, sans-serif;
$default-font-size: 14px;

$sidebar-width: 210px;
$chat-width: 300px;
$max-content-width: 760px;

$button-padding: 0 1.43rem;
$footer-padding: 0 2.86rem;
