<template>
    <div id="app">
        <component :is="layout">
            <router-view />
        </component>
    </div>
</template>

<script>
export default {
    name: 'App',
    computed: {
        layout() {
            const layout = (this.$route.meta && this.$route.meta.layout) || 'default-layout';
            return layout;
        },
    },
};
</script>
<style lang="scss">
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import 'ui/global/normalize.css';
@import 'ui/global/base';
@import 'ui/global/ui';
</style>
