<template>
    <div class="balance">
        <div class="status">
            <img width="33" height="31" :src="balanceIcon" alt="balance" />
            <span class="amount">4 650</span>
        </div>
        <Btn class="replenish" variant="dark">Пополнить</Btn>
        <button class="replenish-min">
            <span>+</span>
        </button>
    </div>
</template>

<script>
import BalanceIcon from '@/assets/svg/balance.svg';
export default {
    name: 'Balance',
    data() {
        return {
            balanceIcon: BalanceIcon,
        };
    },
};
</script>

<style lang="scss" scoped>
.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $chat-width;
    min-width: 250px;
    height: 80px;
    padding: 0 20px;
    color: $black;
    background-color: $primary;

    @media (max-width: 891px) {
        flex-direction: column;
        min-width: 150px;
        width: auto;
    }

    @media (max-width: 691px) {
        padding: 0;
        min-width: auto;
        width: 25%;
        border-top-left-radius: 20px;
        order: 1;

        span {
            font-size: small;
        }
    }
}

.status {
    display: flex;
    align-items: center;
    font-size: 1.14rem;
    font-weight: 500;

    & img {
        margin-right: 1rem;
    }

    @media (max-width: 891px) {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        & img {
            margin-right: 0;
        }
    }
}

.replenish {
    &-min {
        position: relative;
        top: 15px;
        min-height: 30px;
        width: 30px;
        font-weight: bold;
        color: $white;
        background: $black;
        border-radius: 50%;
        border: none;
        transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
        cursor: pointer;
        z-index: 5;

        &:hover {
            color: #fff;
            background: $black-hover;
            box-shadow: 0 5px 26px 0 rgba(144, 0, 0, 0.43);
        }

        span {
            font-size: 23px;
            display: inline-block;
        }
        @media (min-width: 892px) {
            display: none;
        }
    }

    @media (max-width: 891px) {
        &.btn {
            display: none;
        }
    }
}
</style>
