<template>
    <header class="app-header">
        <div class="title">
            <h1 class="h1">вывод средств</h1>
        </div>
        <div class="info">
            <MenuBurger />
            <div class="logo">
                <img class="image" :src="logo" alt="Logo" />
            </div>
            <div class="info-item online">
                <SvgIcon width="42" height="33" icon-name="users" />
                <span class="subtext">Онлайн:</span>
                <span class="count">827</span>
            </div>
            <div class="info-item support">
                <SvgIcon width="40" height="40" icon-name="support" />Поддержка
            </div>
            <div class="avatar">
                <div class="wrapper">
                    <img src="https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg" alt="avatar" />
                </div>
            </div>
            <Balance class="balance" />
        </div>
    </header>
</template>

<script>
import Balance from '@ui/organisms/header/Balance';
import MenuBurger from '@ui/components/menu-burger/MenuBurger';
import Logo from '@/assets/logo.svg';

export default {
    name: 'Index',
    data() {
        return {
            logo: Logo,
        };
    },
    components: { Balance, MenuBurger },
};
</script>

<style lang="scss" scoped>
.app-header {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 691px) {
        flex-wrap: wrap;
        height: 160px;
        background: $black;
    }
}

.title {
    // width: 350px;
    width: auto;
    margin: auto 20px auto 210px;

    @media (max-width: 1280px) {
        display: none;
    }
}

.info {
    position: relative;
    width: calc(70% - 210px);
    // min-width: 456px;
    height: 80px;
    background: $black;
    display: flex;
    color: #c1c1c1;
    font-size: 1.14rem;
    font-weight: 400;
    align-items: center;
    justify-content: flex-end;
    // padding: 0 20px;

    &-item {
        display: flex;
        align-items: center;
        margin-right: 2.86rem;
    }

    & svg {
        color: $primary;
        margin-right: 10px;
    }

    @media (max-width: 1400px) {
        width: 100%;

        &-item {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }

        & svg {
            width: 35px;
            margin: 0;
        }

        .subtext {
            display: none;
        }
    }

    @media (max-width: 691px) {
        flex-wrap: wrap;

        &-item {
            order: 1;
        }

        .online {
            width: 25%;
            margin: 0;
        }

        .support {
            width: 50%;
            margin: 0;
        }
    }
}

.logo {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-right: 30px;
    padding: 0 30px;
    background: $white;
    cursor: pointer;

    & img {
        position: unset;
        width: 100%;
    }

    @media (min-width: 1281px) {
        display: none;
    }
    @media (max-width: 691px) {
        width: 50%;
        margin: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        & img {
            height: 80px;
            padding: 5px;
        }
    }
}

.avatar {
    height: 100%;
    margin-right: 20px;
    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    @media (max-width: 691px) {
        display: flex;
        width: 25%;
        margin: 0;
        background: $white;

        .wrapper {
            display: flex;
            background: $black;
            border-top-left-radius: 20px;
        }

        & img {
            margin: auto;
        }
    }
}

.count {
    font-weight: 500;
    color: $white;
    margin-left: 0.21rem;

    @media (max-width: 1400px) {
        margin: 0;
    }
}
</style>
