<template>
    <section class="main-section">
        <div class="main-section__title">
            <h1 class="h1">Crash Game</h1>
        </div>
        <div class="slogan">
            <div class="watermark">Crash</div>
            <h2 class="slogan__title">Умножь свои монеты</h2>
        </div>
        <div class="main-section__game game">
            <div class="game__chart">
                <div class="chart__info">
                    X
                    <span>3.1</span>
                </div>
            </div>
            <div class="game__form">
                <div class="balance">
                    Ваш баланс:
                    <span>
                        12903
                        <SvgIcon icon-name="sum" width="20" height="20" />
                    </span>
                </div>
                <div class="form-area">
                    <input type="text" placeholder="Введите сумму" />
                </div>
                <div class="form-area">
                    <label class="c-gray">
                        Автовывод
                        <input type="text" placeholder="1.5" />
                    </label>
                </div>
                <div class="balance">
                    К выводу:
                    <span>
                        12903
                        <SvgIcon icon-name="sum" width="20" height="20" />
                    </span>
                </div>
                <Btn class="btn-yellow" variant="yellow">
                    <SvgIcon icon-name="check" height="20" width="20" />Сделать ставку
                </Btn>
            </div>
        </div>
        <div class="history-game">
            <div class="history-game__title">
                <img width="25" height="25" :src="historyIcon" alt="history" />
                История игр
            </div>
            <carousel
                class="history-game__result"
                :autoplayLoop="true"
                :autoplay="false"
                :perPage="10"
                :paginationEnabled="false"
                :loop="true"
                :minSwipeDistance="2"
            >
                <slide
                    v-for="(item, i) in slider"
                    :key="i"
                    class="result"
                    :class="item.cssClass"
                >{{ item.result }}</slide>
            </carousel>
        </div>
        <div class="players">
            <div class="players-info">
                <SvgIcon icon-name="users" height="40" width="40" />
                <p>
                    <span>31</span> игрок поставил
                    <span>7678</span>
                </p>
            </div>
            <div class="players-list">
                <div v-for="(item, i) in historyGame" :key="i" class="players-list__item">
                    <div class="avatar">
                        <img :src="item.img" width="40" height="40" alt="avatar" />
                    </div>
                    <div class="name">{{ item.name }}</div>
                    <div class="amount">
                        Поставил
                        <span>{{ item.amount }}</span>
                    </div>
                    <div class="wrapper">
                        <div class="coefficient" :class="item.cssClass">
                            <span>{{ item.coefficient }}</span>x
                        </div>
                        <div class="gain" :class="item.cssClass">
                            {{ item.gain }}
                            <SvgIcon icon-name="sum" height="20" width="20" />
                        </div>
                        <div :class="item.pending">
                            <img :src="item.clockIcon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import historyIcon from '@/assets/svg/history.svg';
import clockIcon from '@/assets/png/clock.png';
import { Carousel, Slide } from 'vue-carousel';

export default {
    name: 'crash',
    data() {
        return {
            historyIcon: historyIcon,
            clockIcon: clockIcon,
            slider: [
                {
                    result: '150x',
                    cssClass: 'red-border',
                },
                {
                    result: '1.10x',
                    cssClass: 'blue-border',
                },
                {
                    result: '4.10x',
                    cssClass: 'purple-border',
                },
                {
                    result: '150x',
                    cssClass: 'red-border',
                },
                {
                    result: '4.10x',
                    cssClass: 'purple-border',
                },
                {
                    result: '150x',
                    cssClass: 'blue-border',
                },
                {
                    result: '150x',
                    cssClass: 'red-border',
                },
                {
                    result: '4.10x',
                    cssClass: 'blue-border',
                },
                {
                    result: '150x',
                    cssClass: 'purple-border',
                },
                {
                    result: '1.10x',
                    cssClass: 'blue-border',
                },
            ],
            historyGame: [
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    amount: 5000,
                    coefficient: '4.10',
                    gain: 50000,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    amount: 5000,
                    cssClass: 'd-none',
                    pending: 'pending',
                    clockIcon: clockIcon,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    amount: 5000,
                    coefficient: '4.10',
                    gain: 50000,
                },
                {
                    img: 'https://i.ytimg.com/vi/OCO3qYvqQ8w/hqdefault.jpg',
                    name: 'Нидо Саидрахмонов',
                    amount: 5000,
                    cssClass: 'd-none',
                    pending: 'pending',
                    clockIcon: clockIcon,
                },
            ],
        };
    },
    components: {
        Carousel,
        Slide,
    },
};
</script>

<style lang="scss" scoped>
.c-gray {
    color: $gray;
}

.slogan {
    position: relative;
    height: 160px;
    background-image: url('../../assets/png/confetti-crash-game.png');
    background-size: contain;
    background-repeat: no-repeat;

    &__title {
        position: inherit;
        padding-top: 8%;
        color: $black;
        font-size: 43px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        z-index: 5;
    }

    .watermark {
        left: 50%;
        top: 55%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        text-align: center;
        font-size: 150px;
        margin: auto;
        position: absolute;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        opacity: 0.1;
        text-shadow: 0 0 50px rgba(135, 135, 135, 1);
    }

    @media (max-width: 691px) {
        height: auto;
        margin: 0;
        background: none;

        .watermark {
            display: none;
        }

        &__title {
            display: none;
        }
    }
}

.game {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    &__chart,
    &__form {
        position: relative;
        padding: 40px;
        background: $white;
        width: 100%;
    }

    &__chart {
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .chart__info {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        font-size: 43px;
        font-weight: 600;
        color: $purple;
    }

    &__form {
        max-width: 278px;
        border-radius: 5px;

        box-shadow: 0 5px 30px rgba($black, 0.1);
    }

    .balance {
        color: $gray;

        span {
            color: $black;
            font-weight: 600;
        }

        svg {
            margin-bottom: -5px;
            color: $gray;
        }
    }

    .form-area:not(:last-child) {
        margin-bottom: 20px;
    }

    .form-area,
    .form-area label {
        display: flex;
        flex-direction: column;
    }

    input,
    .btn-yellow {
        margin-top: 20px;
    }

    .btn-yellow {
        width: 100%;
    }

    input:focus {
        outline: none;
        border-color: $green;
    }

    label {
        font-weight: 500;
    }

    @media (max-width: 1090px) {
        input {
            margin-bottom: 0;
        }
    }

    @media (max-width: 691px) {
        flex-direction: column;

        &__chart {
            height: 300px;
            border-radius: 0;
        }

        &__form {
            max-width: none;
            width: auto;
            margin: 10px;
        }
    }
}

.history-game {
    margin-bottom: 20px;
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 10px 20px 0;
        text-transform: uppercase;
        font-size: 16px;
        color: $black;
    }

    &__result {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .result {
        padding: 5px 10px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 16px;
        background: transparent;
        border-radius: 5px;
    }

    .result:nth-child(1) {
        margin-left: 0;
    }
    .result:last-child {
        margin-right: 0;
    }

    .blue-border {
        border: 2px solid $blue;
    }

    .red-border {
        border: 2px solid $red;
    }

    .purple-border {
        border: 2px solid $purple;
    }

    .VueCarousel-slide {
        flex-basis: auto !important;
    }

    @media (max-width: 691px) {
        margin-left: 10px;
    }
}

.players {
    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: $white;
        border-radius: 5px;
        text-transform: uppercase;
    }

    &-info svg {
        margin-bottom: 10px;
        color: $gray;
    }

    &-list {
        margin: 20px 40px;
    }

    &-list__item {
        width: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lighten($gray, 40%);
    }

    &-list__item,
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper {
        width: 40%;
        height: 40px;
        margin-left: 10px;
    }

    .avatar {
        height: 40px;
        margin-right: 10px;
    }
    .avatar img {
        border-radius: 50%;
        min-height: 40px;
        min-width: 40px;
        max-height: 40px;
        max-width: 40px;
    }

    .name {
        width: 50%;
        margin-right: auto;
    }

    .amount {
        width: 15%;
        display: flex;
        flex-direction: column;
    }

    .amount span,
    .coefficient span {
        color: $black;
        font-weight: 600;
    }

    .gain,
    .coefficient {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 5px;
    }

    .coefficient {
        width: 100%;
        max-width: 77px;
        margin-right: 10px;
        border: 2px solid $purple;
    }

    .gain {
        width: 100%;
        max-width: 127px;
        color: $black;
        background: $yellow;
    }

    .gain svg {
        margin-bottom: 1px;
        margin-left: 5px;
    }

    .pending {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 15px;
        background: repeating-linear-gradient(
            -45deg,
            rgba($black, 0.1),
            rgba($black, 0.1) 7px,
            transparent 0,
            transparent 14px
        );
        border-radius: 5px;
    }

    .d-none {
        display: none;
    }

    @media (max-width: 691px) {
        &-info {
            border-radius: 0;
        }

        &-list {
            margin: 10px;
        }

        &-list__item {
            flex-wrap: wrap;
            margin-bottom: 10px;
            padding: 10px 0;
            line-height: 2;
        }

        .wrapper {
            margin-left: auto;
            max-width: 224px;
            width: 100%;
        }

        .avatar {
            width: 15%;
        }

        .name {
            width: 60%;
            margin-right: 0;
            order: 1;
        }
        .amount {
            flex-direction: row;
            width: auto;
            order: 2;
        }

        .amount span {
            margin-left: 5px;
        }
    }
}
</style>